<dl class="accordion" data-accordion>
 <dd class="accordion-navigation">
   <a href="#panel1b"><i class="fa fa-arrows-v"></i> Reporting <i class="fa fa-plus-circle"></i></a>
   <div id="panel1b" class="content">
     <img src="http://i.imgur.com/6fyclc2.png" alt="">
   </div>
 </dd>
 <dd class="accordion-navigation">
   <a href="#panel2b"><i class="fa fa-arrows-v"></i> Actions <i class="fa fa-plus-circle"></i></a>
   <div id="panel2b" class="content">
		<img src="http://i.imgur.com/NdJgkVL.png" alt="">
   </div>
 </dd>
 <dd class="accordion-navigation">
   <a href="#panel3b"><i class="fa fa-arrows-v"></i> Map Stats <i class="fa fa-plus-circle"></i></a>
   <div id="panel3b" class="content">
     <img src="http://i.imgur.com/wR8PqME.png" alt="">
   </div>
 </dd>
</dl>