<div class="bloc action-bloc">
    <div class="info-reporting">
       <p class="title-reporting"><i class="fa fa-line-chart"></i> Cookeo - La plus petite cuisine du monde ( Facebook )</p>
       <p class="date"><span>October 2014</span></p>
    </div>
    <ul class="global-reporting">
       <li>Band <span>Moulinex</span></li>
       <li>Subscribers <span>45284</span></li>
       <li>Export <span><a href="/actions/export/{{ $action->hash }}" ><i class="fa fa-file-excel-o"></i></a></span></li>
    </ul>
    <div class="action-chart">(Chart zone)</div>
 </div>