<div class="row">
    <div class="small-6 medium-offset-6 medium-3 columns">
        <select name="group_by" id="venn-group-by-a">
            <option value="product" selected="">Brand</option>
            <option value="action">Product Brand</option>
        </select>
    </div>
    <div class="small-6 medium-3 columns">
        <select name="which_db" id="venn-db-a">
            <option value="leads" selected="">Leads</option>
            <option value="buyers">Buyers</option>
            <option value="both" disabled="disabled">Both</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="text-center small-12 medium-6 columns venn-compare-left">
        <div class="date-form">
            <span class="period-venn-an">
                <button class="expand datepicker-btn period-opener"><i class="fa fa-calendar"></i><span class="startDate">2015-07-08</span> <i class="fa fa-arrow-right"></i> <i class="fa fa-calendar"></i><span class="endDate">2015-08-08</span></button>
            </span>
        </div>
        <div class="venn-chart-analysis">
            <svg width="400" height="400">
                <g><g><g><circle r="194" cx="200" cy="200" style="fill-opacity: 0.3; fill: rgb(31, 119, 180); stroke-opacity: 0; stroke: rgb(255, 255, 255); stroke-width: 2px;"></circle><text dy=".35em" x="200" y="200" text-anchor="middle" style="fill: rgb(31, 119, 180); font-size: 10px;"><tspan x="200" y="200" dy="0.35em">Moulinex</tspan></text></g></g></g>
            </svg>
        </div>
    </div>
    <div class="text-center small-12 medium-6 columns">
        <div class="date-form">
            <span id="venn-compare-date">
                <button class="expand datepicker-btn period-opener"><i class="fa fa-calendar"></i><span class="startDate">2015-07-08</span> <i class="fa fa-arrow-right"></i> <i class="fa fa-calendar"></i><span class="endDate">2015-08-08</span></button>
            </span>
        </div>
        <div class="venn-chart-analysis-2">
            <svg width="400" height="400">
                <g><g><g><circle r="194" cx="200" cy="200" style="fill-opacity: 0.3; fill: rgb(31, 119, 180); stroke-opacity: 0; stroke: rgb(255, 255, 255); stroke-width: 2px;"></circle><text dy=".35em" x="200" y="200" text-anchor="middle" style="fill: rgb(31, 119, 180); font-size: 10px;"><tspan x="200" y="200" dy="0.35em">Moulinex</tspan></text></g></g></g>
            </svg>
        </div>
    </div>
    <div class="small-12 columns">
        <div class="panel">
            <div class="row">
                <form id="venn-form-selector-a">
                    <div class="small-12 columns">
                        <ul id="venn_product_selector_2" class="venn_product_selector">
                            <li><input type="checkbox" class="venn-label-selector-a" id="venn-label-selector-a-Moulinex" value="Moulinex" checked=""><label for="venn-label-selector-a-Moulinex">Moulinex</label></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>