<div class="row">    
    <div class="small-12 medium-offset-6 medium-6 large-6 columns date-form">
        <span class="period-leads">
            <button class="expand datepicker-btn period-opener"><i class="fa fa-calendar"></i><span class="startDate">2015-07-08</span> <i class="fa fa-arrow-right"></i> <i class="fa fa-calendar"></i><span class="endDate">2015-08-08</span></button>
        </span>
    </div>
    <div class="small-12 columns">
        <div id="actions-list-table" class="columns">
            <div id="actions-table_wrapper">
                gfsdfg
            </div>
        </div>
    </div>
</div>
