<div class="row">
    <div class="small-6 medium-3 large-3 columns">
        <select name="group_by" id="venn-group-by">
            <option value="product" selected="">Brand</option>
            <option value="action">Product Brand</option>
        </select>
    </div>
    <div class="small-12 medium-offset-5 medium-4 large-4 columns date-form">
        <span class="period-venn">
            <button class="expand datepicker-btn period-opener"><i class="fa fa-calendar"></i><span class="startDate">2015-07-08</span> <i class="fa fa-arrow-right"></i> <i class="fa fa-calendar"></i><span class="endDate">2015-08-08</span></button>
        </span>
    </div>
</div>
<div class="row">
    <div id="venn-chart-cont-leads" class="text-center small-12 medium-6 columns venn-compare-left">
        <h3>Leads</h3>
        <div class="venn-chart-leads">
            <svg width="400" height="400">
                <g><g><g><circle r="194" cx="200" cy="200" style="fill-opacity: 0.3; fill: rgb(31, 119, 180); stroke-opacity: 0; stroke: rgb(255, 255, 255); stroke-width: 2px;"></circle><text dy=".35em" x="200" y="200" text-anchor="middle" style="fill: rgb(31, 119, 180); font-size: 10px;"><tspan x="200" y="200" dy="0.35em">Moulinex</tspan></text></g></g></g>
            </svg>
        </div>
        <div class="panel text-left">
            <form id="venn-form-selector-leads" class="venn-form-selector" data-db="leads" style="">
                Max: 15
                <ul id="venn_product_selector-leads" class="venn_product_selector">
                    <li><input type="checkbox" class="venn-label-selector-leads" value="Moulinex" checked=""> Moulinex</li>
                </ul>
                <input type="submit" value="Update" class="button tiny">
            </form>
        </div>
    </div>
    <div id="venn-chart-cont-buyers" class="text-center small-12 medium-6 columns">
        <h3>Buyers</h3>
        <div class="venn-chart-buyers">
            <svg width="400" height="400">
                <g><g><g><circle r="92.34423857620288" cx="98.34423857620288" cy="139.37691550671272" style="fill-opacity: 0.3; fill: rgb(31, 119, 180); stroke-opacity: 0; stroke: rgb(255, 255, 255); stroke-width: 2px;"></circle><text dy=".35em" x="96" y="138" text-anchor="middle" style="fill: rgb(31, 119, 180); font-size: 10px;"><tspan x="96" y="138" dy="0.35em">SEB</tspan></text></g><g><circle r="105.53951395375111" cx="288.4604860462489" cy="139.37691550671272" style="fill-opacity: 0.3; fill: rgb(255, 127, 14); stroke-opacity: 0; stroke: rgb(255, 255, 255); stroke-width: 2px;"></circle><text dy=".35em" x="290" y="139" text-anchor="middle" style="fill: rgb(255, 127, 14); font-size: 10px;"><tspan x="290" y="139" dy="0.35em">MOULINEX</tspan></text></g><g><circle r="81.06728126498683" cx="180.3146906434688" cy="285.09531718205153" style="fill-opacity: 0.3; fill: rgb(44, 160, 44); stroke-opacity: 0; stroke: rgb(255, 255, 255); stroke-width: 2px;"></circle><text dy=".35em" x="180" y="287" text-anchor="middle" style="fill: rgb(44, 160, 44); font-size: 10px;"><tspan x="180" y="287" dy="0.35em">TEFAL</tspan></text></g><g><circle r="26.203374694896176" cx="184.97549542965348" cy="60.67100429748728" style="fill-opacity: 0.3; fill: rgb(214, 39, 40); stroke-opacity: 0; stroke: rgb(255, 255, 255); stroke-width: 2px;"></circle><text dy=".35em" x="182" y="57" text-anchor="middle" style="fill: rgb(214, 39, 40); font-size: 10px;"><tspan x="182" y="57" dy="0.35em">KRUPS</tspan></text></g></g><path d="
                M 186.5351675235033 166.7597285402724 
                A 105.53951395375111 105.53951395375111 0 0 1 186.5351675235033 111.99410247315306 
                A 92.34423857620288 92.34423857620288 0 0 1 186.5351675235033 166.7597285402724" style="fill-opacity: 0; fill: rgb(0, 0, 0); stroke-opacity: 0; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path><path d="
                M 122.18433858670353 228.59074868132754 
                A 81.06728126498683 81.06728126498683 0 0 1 162.2091317187676 206.0757447476182 
                A 92.34423857620288 92.34423857620288 0 0 1 122.18433858670353 228.59074868132754" style="fill-opacity: 0; fill: rgb(0, 0, 0); stroke-opacity: 0; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path><path d="
                M 209.58051013524724 209.4949474662153 
                A 81.06728126498683 81.06728126498683 0 0 1 244.19687468642107 235.1856923227234 
                A 105.53951395375111 105.53951395375111 0 0 1 209.58051013524724 209.4949474662153" style="fill-opacity: 0; fill: rgb(0, 0, 0); stroke-opacity: 0; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path><path d="M 0 0" style="fill-opacity: 0; fill: rgb(0, 0, 0); stroke-opacity: 0; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path><path d="
                M 161.23251799621625 71.75648435007928 
                A 92.34423857620288 92.34423857620288 0 0 1 171.6698461820394 83.24480644733772 
                A 26.203374694896176 26.203374694896176 0 0 1 161.23251799621625 71.75648435007928" style="fill-opacity: 0; fill: rgb(0, 0, 0); stroke-opacity: 0; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path><path d="
                M 199.62392543268209 82.39749374809799 
                A 105.53951395375111 105.53951395375111 0 0 1 209.82499035661345 68.98481493257617 
                A 26.203374694896176 26.203374694896176 0 0 1 199.62392543268209 82.39749374809799" style="fill-opacity: 0; fill: rgb(0, 0, 0); stroke-opacity: 0; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path><path d="M 0 0" style="fill-opacity: 0; fill: rgb(0, 0, 0); stroke-opacity: 0; stroke: rgb(255, 255, 255); stroke-width: 2px;"></path></g>
            </svg>
        </div>
        
        <div class="panel text-left">
            <form id="venn-form-selector-buyers" class="venn-form-selector" data-db="buyers" style="">
                Max: 15
                <ul id="venn_product_selector-buyers" class="venn_product_selector"><li><input type="checkbox" class="venn-label-selector-buyers" value="SEB" checked=""> SEB</li><li><input type="checkbox" class="venn-label-selector-buyers" value="MOULINEX" checked=""> MOULINEX</li><li><input type="checkbox" class="venn-label-selector-buyers" value="TEFAL" checked=""> TEFAL</li><li><input type="checkbox" class="venn-label-selector-buyers" value="KRUPS" checked=""> KRUPS</li></ul>
                <input type="submit" value="Update" class="button tiny">
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <a href="#" class="button tiny" id="open_export">Open export panel</a>
    </div>
</div>