<div class="row">
    <div class="small-6 medium-6 large-3 columns">
        <select name="group_by" id="bar-group-by">
            <option value="product" selected="">Brand</option>
            <option value="action">Product Brand</option>
        </select>
    </div>
    <div class="small-6 medium-6 large-3 columns">
        <select name="which_db" id="bar-db">
            <option value="leads" selected="">Leads</option>
            <option value="buyers">Buyers</option>
            <option value="both" disabled="disabled">Both</option>
        </select>
    </div>
    <div class="small-12 medium-12 large-offset-2 large-4 columns date-form">
        <span class="period-bar">
            <button class="expand datepicker-btn period-opener"><i class="fa fa-calendar"></i><span class="startDate">2015-07-08</span> <i class="fa fa-arrow-right"></i> <i class="fa fa-calendar"></i><span class="endDate">2015-08-08</span></button>
        </span>
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        <div id="bar-chart-contener"></div>
    </div>
</div>

<script>
var chart = c3.generate({
    bindto: '#bar-chart-contener',
    data: {
        columns: [
            ['data1', 30, 200, 100, 400, 150, 250],
            ['data2', 130, 100, 140, 200, 150, 50]
        ],
        type: 'bar'
    },
    bar: {
        width: {
            ratio: 0.5 // this makes bar width 50% of length between ticks
        }
        // or
        //width: 100 // this makes bar width 100px
    }
});
</script>