<div class="bloc facebook-post">
    <img src="https://s3.amazonaws.com/uifaces/faces/twitter/idiot/128.jpg">
    <div class="post-resume">
       <p class="date"><span>17/07/2015</span></p>
       <!--attention à brider en taille de caractères-->
       <p class="resume">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
    </div>

    <ul class="fb-rating">
       <li class="likes"><i class="fa fa-heart"></i> 10 likes</li>
       <li class="comments"><i class="fa fa-comment"></i> 10 comments</li>
       <li class="shares"><i class="fa fa-share-square"></i> 10 shares</li>
       <li class="reach"><i class="fa fa-users"></i>4000</li>
    </ul>
</div>