<div class="bloc bloc-overview mailchimp">
<!--    <p class="overview-title">Facebook <i class="fa fa-folder-open"><span>more</span></i></p>
 -->	<a href="#" class="overview-content">
		<div class="rating">
			<p><i class="fa fa-user"></i> Unique visits <span class="visits">5252</span></p>
		</div>

	   <ul class="rating-right">
<!-- 	   		<p>% Global : <span>(basé sur la période préc.)</span></p>
 -->	      	<li><i class="fa fa-sort"></i> 50%</li>
	      	<li><i class="fa fa-arrow-up"></i> 10%</li>
	   </ul>
   </a>
</div>