<div class="bloc bloc-campaigns">
   <img src="https://s3.amazonaws.com/uifaces/faces/twitter/idiot/128.jpg">
   <div class="post-resume">
      <p class="date"><span>June 25th 2015 At 9:49 am</span></p>
      <p class="weather"><i class="fa fa-cloud"></i> 22° Partly cloudy until night</p>
   </div>

   <ul class="fb-rating">
      <li class="likes"><i class="fa fa-heart"></i> 557 likes</li>
      <li class="comments"><i class="fa fa-comment"></i> 28 comments</li>
      <li class="shares"><i class="fa fa-share-square"></i> 126 shares</li>
      <li class="reach"><i class="fa fa-users"></i>4000</li>
   </ul>
</div>