<div class="bloc bloc-overview analytics">
   	<p class="overview-title">e-buyeasy.com / referral</p>
   	<div class="rating-analytics">
   		<ul class="visits">
   			<li><i class="fa fa-user"></i>Unique visits <span>17 <i>(100% bounce rate)</i></span> <i class="fa fa-info-circle tooltip-info-btn"></i></li>
   			<li><i class="fa fa-user-plus"></i>New visitors <span>17 <i>(000% bounce rate)</i></span> <i class="fa fa-info-circle tooltip-info-btn"></i></li>
   		</ul>
      	<ul class="analytics-others">
      		<li><i class="fa fa-clock-o"></i>Time <span>00:00:00</span> <i class="fa fa-info-circle tooltip-info-btn"></i></li>
      		<li><i class="fa fa-file-o"></i>Pages <span>1</span> <i class="fa fa-info-circle tooltip-info-btn"></i></li>
      	</ul>
   	</div> 
</div>