<table class="data-table row-clickable">
  <thead>
     <tr>
        <th width="200">Table Header</th>
        <th width="200">Table Header</th>
        <th width="200">Table Header</th>
        <th width="200">Table Header</th>
     </tr>
  </thead>
  <tbody>
   <tr>
     <td>Content Goes Here</td>
     <td>Content Goes Here</td>
     <td>Content Goes Here</td>
     <td><a href="#">Link</a></td>
   </tr>
   <tr class="highlight">
     <td>Content Goes Here</td>
     <td>Content Goes Here</td>
     <td>Content Goes Here</td>
     <td><a href="#">Link</a></td>
   </tr>
   <tr>
     <td>Content Goes Here</td>
     <td>Content Goes Here</td>
     <td>Content Goes Here</td>
     <td><a href="#">Link</a></td>
   </tr>
   <tr>
     <td>Content Goes Here</td>
     <td>Content Goes Here</td>
     <td>Content Goes Here</td>
     <td><a href="#">Link</a></td>
   </tr>
   <tr>
     <td>Content Goes Here</td>
     <td>Content Goes Here</td>
     <td>Content Goes Here</td>
     <td><a href="#">Link</a></td>
   </tr>
  </tbody>
</table>