<span id="campaign-period-btn">
    <button class="datepicker-btn period-opener">
        <i class="fa fa-calendar"></i>Select Period
        <!-- <i class="fa fa-calendar"></i>01/07/2015 
        <i class="fa fa-arrow-right"></i> 
        <i class="fa fa-calendar"></i>01/08/2015 -->
    </button>

    <div class="bloc-datepicker period-chooser hide">
      <p class="selected-period">
        <i class="fa fa-calendar"></i><time class="startDate">2015-07-01</time> 
        <i class="fa fa-arrow-right"></i> 
        <i class="fa fa-calendar"></i><time class="startDate">2015-07-08</time>
      </p>
      <div class="period-select">
         <p>Presets :</p>
         <button class="period-btn" data-period='week'>By week</button>
         <button class="active period-btn" data-period='month'>By Month</button>
         <button class="period-btn" data-period='year'>By Year</button>
         <hr>
         <p>Dates :</p>

         <table class="date-select">
            <thead>
               <tr>
                  <th><button class="button fdatepicker picker_from"><i class="fa fa-calendar"></i> Start</button></th>
                  <th><p><i class="fa fa-arrow-right"></i></p></th>
                  <th><button class="button fdatepicker picker_to"><i class="fa fa-calendar"></i> End</button></th>
               </tr>
            </thead>
            <tbody>
               <tr>
                  <td class="startDate"></td>
                  <td>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                    <input type="hidden" name="datefrom" value="">
                    <input type="hidden" name="dateto" value="">
                  </td>
                  <td class="endDate"></td>
               </tr>
            </tbody>
         </table>
         <div class="confirm">
            <button id="change-custom-period-btn" data-period='custom'><i class="fa fa-arrow-circle-right"></i> Reload with custom period</button>
         </div>

      </div>
    </div>
</span>
<script>
$(function () {
    $('.period-opener').click(function(e) {
        e.preventDefault();
        $('.period-chooser').toggleClass('hide');
    });
});
</script>