<form>

<div class="row">
  <div class="large-6 medium-6 small-12 columns">
     <div class="bloc-export-panel">
        <h5>Select</h5>
           <select name="select-export" id="select-export">
              <option value="">Moulinex 12</option>
              <option value="">Moulinex 12</option>
           </select><a href="#" class="remove-select"><i class="fa fa-times"></i></a>
           <button class="add-more">+</button>
     </div>
  </div>
  <div class="large-6 medium-6 small-12 columns">
     <div class="bloc-export-panel">
        <h5>Remove</h5>
           <select name="select-export" id="select-export">
              <option value="">Moulinex 12</option>
              <option value="">Moulinex 12</option>
           </select><a href="#" class="remove-select"><i class="fa fa-times"></i></a>
           <button class="add-more">+</button>
     </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="bloc-export-button">
        <label><input type="radio" name="export"><span>Export to CSV</span></label>
        <label><input type="radio" name="export"><span>Export to Mailchimp</span><input type="text" placeholder="List name"></label>
        <button>Ready to export</button>
      </div>
    </div>
  </div>
</div>

</form>