<header class="header--light">
    <a class="main-logo" href="/"><i class="icon icon-adjust-girafe"></i></a>
    <div class="page-titles">
        <span class="account_name">Groupe SEB</span>
        <span class="separator">></span> 
        <a class="selected-account" data-dropdown="other-accounts">Moulinex <i class="fa fa-chevron-down"></i></a>
        <ul id="other-accounts" class="f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <li><a href="#">This is a link</a></li>
          <li><a href="#">This is another</a></li>
          <li><a href="#">Yet another</a></li>
        </ul>
    </div>
    <div class="main-menu">
        <!--<a href="/superadmin/login-as/15/0?redirect=/superadmin"><i class="fa fa-backward"></i> MCC </a>-->

        <a href="/analytics/" class="active"><i class="fa fa-home"></i> Dashboard</a>
        <a href="/actions/" class=""><i class="fa fa-thumb-tack"></i> Actions</a>
        <a href="/alerts/" class=""><i class="fa fa-rss"></i> Listen</a>
        <a href="/custom/" class=""><i class="fa fa-cog"></i> Specific goals</a>
      
        <a href="/login/logout/"><i class="fa fa-power-off"></i> Logout</a>
    </div>
</header>