<div class="bloc reporting-bloc">
    <div class="info-reporting">
       <p class="title-reporting"><i class="fa fa-line-chart"></i> Facebook 2015</p>
       <p class="date"><span>17/07/15 <i class="fa fa-arrow-right"></i> 17/07/15</span></p>
    </div>
    <ul class="global-reporting">
       <li>Budget <span>15.000€</span></li>
       <li>Spent <span>6.510,72€</span></li>
       <li>Clicks <span>76857</span></li>
       <li>Impressions <span>1.457.918</span></li>
    </ul>
</div>