<div class="row">
  <div id="top-chart-area" class="large-12 columns">
    <div class="top-chart-area__wrapper">
         <ul class="top-chart-tabs"><li class="analytics active service-btn" data-service="ga" data-name="Analytics"><a href="#"><i class="fa fa-area-chart"></i> <span>Analytics</span></a>
            <li class="direct-marketing service-btn" data-service="mc" data-name="Direct Marketing"><a href="#"><i class="fa fa-envelope-o"></i> <span>Direct Marketing</span></a>
            <li class="social-networks service-btn" data-service="fb" data-name="Social Network"><a href="#"><i class="fa fa-thumbs-o-up"></i> <span>Social Network</span></a>
         </ul>
         <a href="#" id="show-legend" class="option-chart right"><i class="fa fa-cog"></i> Options</a>
         <div id="campaigns-chart"></div>
         <div class="main-accordion-content-loading"></div>
    </div>
  </div>
</div>
<script>
var colors = JSON.parse('{"Facebook: Engagement":"#0087ce","Facebook: Likes":"#0087ce","Moulinex.be: unique visits":"#f07e1a","Cookeo.be: unique visits":"#f07e1a","Action Cookeo: unique visits":"#f07e1a","Go to Brazil: unique visits":"#f07e1a","Companion: unique visits":"#f07e1a","Mailing Cookeo FR: opens":"#97c342","Mailing Cookeo FR: clicks":"#97c342","Mailing Cookeo NL: opens":"#97c342","Mailing Cookeo NL: clicks":"#97c342"}');
var datas  = JSON.parse('[["Dates","2015-07-06","2015-07-07","2015-07-08","2015-07-09","2015-07-10","2015-07-11","2015-07-12","2015-07-13","2015-07-14","2015-07-15","2015-07-16","2015-07-17","2015-07-18","2015-07-19","2015-07-20","2015-07-21","2015-07-22","2015-07-23","2015-07-24","2015-07-25","2015-07-26","2015-07-27","2015-07-28","2015-07-29","2015-07-30","2015-07-31","2015-08-01","2015-08-02","2015-08-03","2015-08-04","2015-08-05","2015-08-06","2015-08-07"],["Facebook: Engagement",0,21,6,10,9,21,4,14,13,13,43,13,35,505,157,61,748,16,7,7,5,817,497,21,8,72,21,28,44,753,36,969,593],["Facebook: Likes",0,2,1,6,3,7,1,10,6,2,1,3,2,7,7,5,11,3,4,3,3,21,9,8,5,8,5,3,4,19,9,21,17]]');
var chart = c3.generate({
    bindto: '#campaigns-chart',
    data: {
        x: 'Dates',
        columns: datas,
        colors: colors,
        type: 'bar'
    },
    
    bar: {
        width: {
            ratio: 0.9
        }
        // or
        //width: 100 // this makes bar width 100px
    },
    padding: {
    
        top: 0,
        //right: 0,
        bottom: 0,
        left: 35,
    
    },
    size: {
        height: 200
    },
    grid: {
        x: {
            show: false
        },
        y: {
            show: true
        }
    },
    axis: {
        x: {
            type: 'timeseries',
            tick: {
                format: '%b %e',
                culling: {
                    max: 4
                }
            }
        },
        y: {
            tick: {
                format: function (d) { return Math.round(d); },
                count: 4
            }
        }
    },
    tooltip: {
        grouped: false, // Default true
        contents: function (d, defaultTitleFormat, defaultValueFormat, color) {
          var $$ = this, config = $$.config,
              titleFormat = config.tooltip_format_title || defaultTitleFormat,
              nameFormat = config.tooltip_format_name || function (name) { return name; },
              valueFormat = config.tooltip_format_value || defaultValueFormat,
              text, i, title, value, name, bgcolor;

          var newtooltip_content = '';
          for (i = 0; i < d.length; i++) {
              if (! (d[i] && (d[i].value || d[i].value === 0))) { continue; }

              if (! text) {
                  title = titleFormat ? titleFormat(d[i].x) : d[i].x;
                  text = "<table class='" + $$.CLASS.tooltip + "'>" + (title || title === 0 ? "<tr><th colspan='2'>" + title + "</th></tr>" : "");
                  var newtooltip_date = title;
              }

              name = nameFormat(d[i].name);
              value = valueFormat(d[i].value, d[i].ratio, d[i].id, d[i].index);
              bgcolor = $$.levelColor ? $$.levelColor(d[i].value) : color(d[i].id);

              text += "<tr class='" + $$.CLASS.tooltipName + "-" + d[i].id + "'>";
              text += "<td class='name'><span style='background-color:" + bgcolor + "'></span>" + name + "</td>";
              text += "<td class='value'>" + value + "</td>";
              text += "</tr>";
              newtooltip_content += '<li class="' + $$.CLASS.tooltipName + "-" + d[i].id + '">' + name + ' : <span>' + value + '</span></li>';
          }
          var tt  = '<div class="tooltip-bloc tooltip-chart">';
              tt += '<p class="date">'+newtooltip_date+'</p>';
              tt += '<ul class="resume">';
              tt += newtooltip_content;
              tt += '</ul>';
              tt += '</div>';
          return tt;
        }

    },
    legend: {
        show: true,
        position: 'right'
    }
});
</script>