.left-off-canvas-menu{
	background: $dark-gray;
	padding-top:20px;

	a{
		text-decoration: none;
	}

	li{
		list-style-type: none;
	} 

	ul{
		background-color: $dark-gray;

		p{
			color:#fff;
			font-family:$museo;
			font-size: 1em;
			letter-spacing: 1px;
		}

		p, a.icon-adjust-girafe{
			display:inline-block;
		}

		a.icon-adjust-girafe{
			font-family: $adjust;
			font-size: 2.5em;
			color:#fff;
			float:right;
			position:relative;
			bottom:17px;
			right:12px;
			&:hover{
				color:$orange;
				@include transition(0.5s);
			}
			@include transition(0.5s);
		}

		li{
			margin-bottom:25px;
			i{
				padding-right:8px;
				color:$med-gray;
				width:20px;
			}

			a{
				color:#fff;
				letter-spacing: 1px;
				font-family: $museo;

				&:hover{
					color:$med-gray;
				}
			}

			ul{
				padding-top:12px;
				li{
					text-transform: uppercase;
					font-size:0.7em;
					letter-spacing: 1px;
					margin-bottom:9px;

					a{
						&:hover{
							i{
								color:$orange;
							}
						}

						i{
							color:$med-gray;
							font-size:0.8em;
							padding-right:10px;

							&.active{
								color:$orange;
							}
						}
					}
					span{
						float:right;
						color:$med-gray;
						padding-right:15px;
					}
				}
			}
		}
	}
}