.section-elements{
	//text-align: center;
	background: #F3F3F3;
	padding:25px 50px;

	min-height:400px;
	border: 3px solid #fff;

	h1:first-child{
		border-bottom:1px solid $orange;
		margin-bottom:25px;
		font-size:1.8em;
		span{
			color:$orange;
		}
	}
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}