@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);

@font-face {
  font-family: "adjust-font";
  src:url("../fonts/untitled-font-10.eot");
  src:url("../fonts/untitled-font-10.eot?#iefix") format("embedded-opentype"),
    url("../fonts/untitled-font-10.woff") format("woff"),
    url("../fonts/untitled-font-10.ttf") format("truetype"),
    url("../fonts/untitled-font-10.svg#untitled-font-10") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "adjust-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "adjust-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adjust-girafe:before {
  content: "a";
}
