body{
	background: $background-gray;
    &.popup-opened .inner-wrap {
        overflow: hidden;
        max-height: 60vh;
    }
}

h1,h2,h3{
	text-transform: uppercase;
	font-family: $museo;
	color:$dark-gray;
}

p, a {
	font-family: $opensans;
    font-size:0.8em;
}

header {
	margin-bottom:30px;
    padding: 0;
    font-size:1em;
    
    &.header--light {
        background: $light-gray;
        color: $dark-gray;
        a {
            color:$dark-gray;
            &:hover {
                background: darken($light-gray, 5%);
                color: $dark-gray;
            }
        }
    }
    &.header--dark {
        background: $dark-gray;
        color: $light-gray;
        a {
            color:$light-gray;
            &:hover {
                background: darken($dark-gray, 5%);
                color: $light-gray;
            }
        }
        .main-logo { background: darken($dark-gray, 5%); }
    }
    .main-logo {
        margin-left: 0.9375rem;
        margin-right: 5px;
        text-decoration: none;
        display: inline-block;
        padding: 3px 2px 0 0;
        vertical-align: middle;
        overflow: hidden;
        height: 40px;
        .icon-adjust-girafe:before { 
            font-size: 40px;
        }
    }

	.page-titles {
        vertical-align: middle;
		margin:0px;
		display:inline;
		font-family: $museo;
		font-size:1em;
		font-weight: 700;

		.account_name {
            vertical-align: middle;
        }

		.separator{
			color: $orange;
			padding:0 8px;
            vertical-align: middle;
		}

        .selected-account {
            text-decoration: none;
            font-size:1em;
            vertical-align: middle;
            border-bottom: 3px solid $turquoise;
            padding: 11px 4px 10px 8px;
            @include transition(background .5s);
            i {
                border-radius: 20px;
                color: white;
                font-size: .6em;
                padding: 4px;
                vertical-align: middle;
                margin-left: 10px;
                color: $turquoise;
            }
        }
        .f-dropdown {
            outline: none;
            li a { text-decoration: none; }
        }
	}

	.main-menu {
        float: right;
        margin-right:0.9375rem;
		a{
			font-family: $museo;
            font-weight: bold;
			letter-spacing: 1px;
			text-align: center;
			text-decoration: none;
            padding: 9px 10px 10px 10px;
            display: inline-block;
            border-bottom:3px solid transparent;
            @include transition(border-color .5s, background .5s);
			i{
				padding-right:5px;
			}
			&.active, &:hover{
				border-color: $orange;
			}
		}
	}
}

footer{
	background: $light-gray;
	padding:12px;
	text-align: center;
	margin-top:50px;
	p{
		font-family: $museo;
		text-transform: uppercase;
		margin:0px;
		letter-spacing: 1px;
		font-size: 0.9em;
	}
}