$opensans :'Open Sans', sans-serif;
$museo: "museo-sans-rounded", sans-serif;
$adjust:  "adjust-font";



$dark-gray: #505050;
$med-gray: #B5B5B5;
$light-gray: #EFEFEF;
$background-gray: lighten($light-gray,5%);

/// main colors
$orange: #f07e1a;
$red: #e84c3d;
$blue: #3398dc;
$lightblue: lighten(#3398dc,19%);
$green: #2dcc70;

/// additional colors
$yellow:#f1c40f;
$turquoise:#749E96;
$purple: #9b58b5;
$pink: #EF488D;
