@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,300);
@font-face {
  font-family: "adjust-font";
  src: url("../fonts/untitled-font-10.eot");
  src: url("../fonts/untitled-font-10.eot?#iefix") format("embedded-opentype"), url("../fonts/untitled-font-10.woff") format("woff"), url("../fonts/untitled-font-10.ttf") format("truetype"), url("../fonts/untitled-font-10.svg#untitled-font-10") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 15, ../scss/_fonts.scss */
[data-icon]:before {
  font-family: "adjust-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, ../scss/_fonts.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "adjust-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 41, ../scss/_fonts.scss */
.icon-adjust-girafe:before {
  content: "a";
}

/* line 1, ../scss/_global.scss */
body {
  background: #fcfcfc;
}
/* line 3, ../scss/_global.scss */
body.popup-opened .inner-wrap {
  overflow: hidden;
  max-height: 60vh;
}

/* line 9, ../scss/_global.scss */
h1, h2, h3 {
  text-transform: uppercase;
  font-family: "museo-sans-rounded", sans-serif;
  color: #505050;
}

/* line 15, ../scss/_global.scss */
p, a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8em;
}

/* line 20, ../scss/_global.scss */
header {
  margin-bottom: 30px;
  padding: 0;
  font-size: 1em;
}
/* line 25, ../scss/_global.scss */
header.header--light {
  background: #EFEFEF;
  color: #505050;
}
/* line 28, ../scss/_global.scss */
header.header--light a {
  color: #505050;
}
/* line 30, ../scss/_global.scss */
header.header--light a:hover {
  background: #e2e2e2;
  color: #505050;
}
/* line 36, ../scss/_global.scss */
header.header--dark {
  background: #505050;
  color: #EFEFEF;
}
/* line 39, ../scss/_global.scss */
header.header--dark a {
  color: #EFEFEF;
}
/* line 41, ../scss/_global.scss */
header.header--dark a:hover {
  background: #434343;
  color: #EFEFEF;
}
/* line 46, ../scss/_global.scss */
header.header--dark .main-logo {
  background: #434343;
}
/* line 48, ../scss/_global.scss */
header .main-logo {
  margin-left: 0.9375rem;
  margin-right: 5px;
  text-decoration: none;
  display: inline-block;
  padding: 3px 2px 0 0;
  vertical-align: middle;
  overflow: hidden;
  height: 40px;
}
/* line 57, ../scss/_global.scss */
header .main-logo .icon-adjust-girafe:before {
  font-size: 40px;
}
/* line 62, ../scss/_global.scss */
header .page-titles {
  vertical-align: middle;
  margin: 0px;
  display: inline;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 1em;
  font-weight: 700;
}
/* line 70, ../scss/_global.scss */
header .page-titles .account_name {
  vertical-align: middle;
}
/* line 74, ../scss/_global.scss */
header .page-titles .separator {
  color: #f07e1a;
  padding: 0 8px;
  vertical-align: middle;
}
/* line 80, ../scss/_global.scss */
header .page-titles .selected-account {
  text-decoration: none;
  font-size: 1em;
  vertical-align: middle;
  border-bottom: 3px solid #749E96;
  padding: 11px 4px 10px 8px;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
/* line 87, ../scss/_global.scss */
header .page-titles .selected-account i {
  border-radius: 20px;
  color: white;
  font-size: .6em;
  padding: 4px;
  vertical-align: middle;
  margin-left: 10px;
  color: #749E96;
}
/* line 97, ../scss/_global.scss */
header .page-titles .f-dropdown {
  outline: none;
}
/* line 99, ../scss/_global.scss */
header .page-titles .f-dropdown li a {
  text-decoration: none;
}
/* line 103, ../scss/_global.scss */
header .main-menu {
  float: right;
  margin-right: 0.9375rem;
}
/* line 106, ../scss/_global.scss */
header .main-menu a {
  font-family: "museo-sans-rounded", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  padding: 9px 10px 10px 10px;
  display: inline-block;
  border-bottom: 3px solid transparent;
  -moz-transition: border-color 0.5s, background 0.5s;
  -o-transition: border-color 0.5s, background 0.5s;
  -webkit-transition: border-color 0.5s, background 0.5s;
  transition: border-color 0.5s, background 0.5s;
}
/* line 116, ../scss/_global.scss */
header .main-menu a i {
  padding-right: 5px;
}
/* line 119, ../scss/_global.scss */
header .main-menu a.active, header .main-menu a:hover {
  border-color: #f07e1a;
}

/* line 126, ../scss/_global.scss */
footer {
  background: #EFEFEF;
  padding: 12px;
  text-align: center;
  margin-top: 50px;
}
/* line 131, ../scss/_global.scss */
footer p {
  font-family: "museo-sans-rounded", sans-serif;
  text-transform: uppercase;
  margin: 0px;
  letter-spacing: 1px;
  font-size: 0.9em;
}

/* line 1, ../scss/_aside-menu.scss */
.left-off-canvas-menu {
  background: #505050;
  padding-top: 20px;
}
/* line 5, ../scss/_aside-menu.scss */
.left-off-canvas-menu a {
  text-decoration: none;
}
/* line 9, ../scss/_aside-menu.scss */
.left-off-canvas-menu li {
  list-style-type: none;
}
/* line 13, ../scss/_aside-menu.scss */
.left-off-canvas-menu ul {
  background-color: #505050;
}
/* line 16, ../scss/_aside-menu.scss */
.left-off-canvas-menu ul p {
  color: #fff;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
}
/* line 23, ../scss/_aside-menu.scss */
.left-off-canvas-menu ul p, .left-off-canvas-menu ul a.icon-adjust-girafe {
  display: inline-block;
}
/* line 27, ../scss/_aside-menu.scss */
.left-off-canvas-menu ul a.icon-adjust-girafe {
  font-family: "adjust-font";
  font-size: 2.5em;
  color: #fff;
  float: right;
  position: relative;
  bottom: 17px;
  right: 12px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 35, ../scss/_aside-menu.scss */
.left-off-canvas-menu ul a.icon-adjust-girafe:hover {
  color: #f07e1a;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/* line 42, ../scss/_aside-menu.scss */
.left-off-canvas-menu ul li {
  margin-bottom: 25px;
}
/* line 44, ../scss/_aside-menu.scss */
.left-off-canvas-menu ul li i {
  padding-right: 8px;
  color: #B5B5B5;
  width: 20px;
}
/* line 50, ../scss/_aside-menu.scss */
.left-off-canvas-menu ul li a {
  color: #fff;
  letter-spacing: 1px;
  font-family: "museo-sans-rounded", sans-serif;
}
/* line 55, ../scss/_aside-menu.scss */
.left-off-canvas-menu ul li a:hover {
  color: #B5B5B5;
}
/* line 60, ../scss/_aside-menu.scss */
.left-off-canvas-menu ul li ul {
  padding-top: 12px;
}
/* line 62, ../scss/_aside-menu.scss */
.left-off-canvas-menu ul li ul li {
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 1px;
  margin-bottom: 9px;
}
/* line 70, ../scss/_aside-menu.scss */
.left-off-canvas-menu ul li ul li a:hover i {
  color: #f07e1a;
}
/* line 75, ../scss/_aside-menu.scss */
.left-off-canvas-menu ul li ul li a i {
  color: #B5B5B5;
  font-size: 0.8em;
  padding-right: 10px;
}
/* line 80, ../scss/_aside-menu.scss */
.left-off-canvas-menu ul li ul li a i.active {
  color: #f07e1a;
}
/* line 85, ../scss/_aside-menu.scss */
.left-off-canvas-menu ul li ul li span {
  float: right;
  color: #B5B5B5;
  padding-right: 15px;
}

/* line 1, ../scss/_charte-grid.scss */
.section-elements {
  background: #F3F3F3;
  padding: 25px 50px;
  min-height: 400px;
  border: 3px solid #fff;
}
/* line 9, ../scss/_charte-grid.scss */
.section-elements h1:first-child {
  border-bottom: 1px solid #f07e1a;
  margin-bottom: 25px;
  font-size: 1.8em;
}
/* line 13, ../scss/_charte-grid.scss */
.section-elements h1:first-child span {
  color: #f07e1a;
}

/* line 19, ../scss/_charte-grid.scss */
.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/* line 1, ../scss/elements/_accordion.scss */
.accordion {
  font-family: "museo-sans-rounded", sans-serif;
}
/* line 4, ../scss/elements/_accordion.scss */
.accordion dd.accordion-navigation {
  margin-bottom: 10px !important;
}
/* line 7, ../scss/elements/_accordion.scss */
.accordion dd.accordion-navigation .fa-plus-circle:before {
  content: "\f055";
}
/* line 11, ../scss/elements/_accordion.scss */
.accordion dd.accordion-navigation.active .fa-plus-circle:before {
  content: "\f056";
}
/* line 17, ../scss/elements/_accordion.scss */
.accordion dd.accordion-navigation {
  position: relative;
  background: none;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 23, ../scss/elements/_accordion.scss */
.accordion dd.accordion-navigation a {
  color: #505050;
  font-size: 0.9em;
  letter-spacing: 1px;
  font-family: "museo-sans-rounded", sans-serif;
  text-decoration: none;
}
/* line 31, ../scss/elements/_accordion.scss */
.accordion dd.accordion-navigation i.fa-arrows-v {
  float: left;
  color: #749E96;
  font-size: 1.6em;
  padding-right: 20px;
}
/* line 37, ../scss/elements/_accordion.scss */
.accordion dd.accordion-navigation i.fa-plus-circle {
  float: right;
  position: relative;
  top: 5px;
}
/* line 43, ../scss/elements/_accordion.scss */
.accordion dd.accordion-navigation:hover {
  background: #e2e2e2;
}

/* line 49, ../scss/elements/_accordion.scss */
.main-accordion-item .content {
  position: relative;
}

/* line 53, ../scss/elements/_accordion.scss */
.main-accordion-loading {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
}
/* line 60, ../scss/elements/_accordion.scss */
.main-accordion-loading:before {
  content: 'LOADING';
  position: absolute;
  right: 50px;
  bottom: 10px;
  font-size: .6em;
  right: 44px;
  bottom: 13px;
  color: #749E96;
  opacity: .8;
}
/* line 71, ../scss/elements/_accordion.scss */
.main-accordion-loading:after {
  content: '';
  background: #749E96;
  opacity: .1;
  width: 100%;
  height: 100%;
  display: block;
  transform: scaleX(0.1);
  transform-origin: right;
  -webkit-animation: progress_load 2s linear infinite;
  -moz-animation: progress_load 2s linear infinite;
  animation: progress_load 2s linear infinite;
}

@-moz-keyframes progress_load {
  50% {
    -moz-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    -moz-transform: scaleX(0.1);
    transform: scaleX(0.1);
  }
}
@-webkit-keyframes progress_load {
  50% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1);
  }
}
@keyframes progress_load {
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.1);
  }
}
/* line 99, ../scss/elements/_accordion.scss */
.main-accordion-content-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
}
/* line 109, ../scss/elements/_accordion.scss */
.main-accordion-content-loading:before {
  opacity: .5;
  content: 'a';
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -32px;
  margin-left: -32px;
  font-size: 4em;
  color: #505050;
  font-family: "adjust-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: wobble;
  animation-name: wobble;
}

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: translateX(0%);
  }
  15% {
    -webkit-transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    -webkit-transform: translateX(20%) rotate(3deg);
  }
  45% {
    -webkit-transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    -webkit-transform: translateX(10%) rotate(2deg);
  }
  75% {
    -webkit-transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}
/* line 164, ../scss/elements/_accordion.scss */
.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
  background: #F3F3F3 !important;
}

/* line 168, ../scss/elements/_accordion.scss */
.accordion .accordion-navigation > a, .accordion dd > a {
  padding: 10px 15px;
}

/* line 172, ../scss/elements/_accordion.scss */
.accordion .accordion-navigation.active > a, .accordion dd.active > a {
  background: #fff;
}

/* line 175, ../scss/elements/_accordion.scss */
.accordion .accordion-navigation > a, .accordion dd > a {
  background: #fff;
  border-bottom: 1px solid #EFEFEF;
}

/* line 180, ../scss/elements/_accordion.scss */
.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
  background: #fcfcfc;
}

/* line 1, ../scss/elements/_blocs.scss */
.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child {
  float: left;
}

/* line 5, ../scss/elements/_blocs.scss */
.bloc {
  position: relative;
  background: #fff;
  padding: 20px;
  margin-bottom: 25px;
  padding-bottom: 7px;
}
/* line 11, ../scss/elements/_blocs.scss */
.bloc.clickable-bloc {
  cursor: pointer;
}
/* line 14, ../scss/elements/_blocs.scss */
.bloc.highlight {
  opacity: 1;
  background: #def2ee;
}
/* line 18, ../scss/elements/_blocs.scss */
.bloc.inactive {
  opacity: .5;
}
/* line 21, ../scss/elements/_blocs.scss */
.bloc:after {
  content: " ";
  position: absolute;
  height: 7px;
  bottom: 0;
  left: -1px;
  right: -1px;
  background: #749E96;
}

/* line 35, ../scss/elements/_blocs.scss */
.facebook-post img, .facebook-post .post-resume, .facebook-ads img, .facebook-ads .post-resume, .bloc-campaigns img, .bloc-campaigns .post-resume {
  display: inline-block;
  vertical-align: top;
}
/* line 40, ../scss/elements/_blocs.scss */
.facebook-post img, .facebook-ads img, .bloc-campaigns img {
  max-width: 75px;
}
/* line 44, ../scss/elements/_blocs.scss */
.facebook-post .post-resume, .facebook-ads .post-resume, .bloc-campaigns .post-resume {
  width: 70%;
  margin-left: 15px;
}
/* line 49, ../scss/elements/_blocs.scss */
.facebook-post p.date, .facebook-ads p.date, .bloc-campaigns p.date {
  font-style: italic;
  margin-bottom: 0px;
  border-bottom: 1px solid #B5B5B5;
}
/* line 54, ../scss/elements/_blocs.scss */
.facebook-post p.date .fa-bullhorn span, .facebook-ads p.date .fa-bullhorn span, .bloc-campaigns p.date .fa-bullhorn span {
  font-size: 0.7em;
  text-transform: uppercase;
  color: #86c2ea;
}
/* line 61, ../scss/elements/_blocs.scss */
.facebook-post p.resume, .facebook-ads p.resume, .bloc-campaigns p.resume {
  line-height: 16px;
  font-size: 0.8em;
  padding-top: 5px;
  min-height: 70px;
}
/* line 68, ../scss/elements/_blocs.scss */
.facebook-post ul.fb-rating, .facebook-ads ul.fb-rating, .bloc-campaigns ul.fb-rating {
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 25px;
}
/* line 72, ../scss/elements/_blocs.scss */
.facebook-post ul.fb-rating li, .facebook-ads ul.fb-rating li, .bloc-campaigns ul.fb-rating li {
  display: inline-block;
  list-style-type: none;
  padding: 0 5px;
  border-right: 1px solid #B5B5B5;
  color: #f07e1a;
  font-size: 0.8em;
}
/* line 80, ../scss/elements/_blocs.scss */
.facebook-post ul.fb-rating li:first-child, .facebook-ads ul.fb-rating li:first-child, .bloc-campaigns ul.fb-rating li:first-child {
  padding-left: 0px;
}
/* line 84, ../scss/elements/_blocs.scss */
.facebook-post ul.fb-rating li:last-child, .facebook-ads ul.fb-rating li:last-child, .bloc-campaigns ul.fb-rating li:last-child {
  border-right: 0px solid #B5B5B5;
}
/* line 88, ../scss/elements/_blocs.scss */
.facebook-post ul.fb-rating li i, .facebook-ads ul.fb-rating li i, .bloc-campaigns ul.fb-rating li i {
  padding-right: 4px;
  color: #505050;
}

/* line 97, ../scss/elements/_blocs.scss */
.facebook-post:after, .bloc-campaigns:after {
  background: #3398dc;
}

/* line 101, ../scss/elements/_blocs.scss */
.facebook-ads:after {
  background: #86c2ea;
}

/* line 106, ../scss/elements/_blocs.scss */
.bloc-campaigns {
  padding-bottom: 15px;
}
/* line 108, ../scss/elements/_blocs.scss */
.bloc-campaigns p.weather {
  margin-top: 15px;
}
/* line 110, ../scss/elements/_blocs.scss */
.bloc-campaigns p.weather i {
  padding-right: 10px;
}

/* line 119, ../scss/elements/_blocs.scss */
.bloc-overview {
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 123, ../scss/elements/_blocs.scss */
.bloc-overview p.overview-title {
  background: #505050;
  padding: 5px 20px;
  color: #fff;
  margin-bottom: 0px;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
/* line 134, ../scss/elements/_blocs.scss */
.bloc-overview p.overview-title i.fa-folder-open {
  float: right;
  position: relative;
  top: 3px;
}
/* line 138, ../scss/elements/_blocs.scss */
.bloc-overview p.overview-title i.fa-folder-open:hover {
  color: #749E96;
}
/* line 142, ../scss/elements/_blocs.scss */
.bloc-overview p.overview-title i.fa-folder-open span {
  padding-left: 4px;
  font-size: 0.9em;
  letter-spacing: 0px;
  color: #d6d6d6;
}
/* line 163, ../scss/elements/_blocs.scss */
.bloc-overview a.overview-content {
  background: #fff;
  text-decoration: none;
  display: block;
  padding: 15px 15px 0 15px;
}
/* line 165, ../scss/elements/_blocs.scss */
.bloc-overview a.overview-content:hover {
  background: #EFEFEF;
}
/* line 173, ../scss/elements/_blocs.scss */
.bloc-overview.active a.overview-content {
  background: #def2ee;
}
/* line 177, ../scss/elements/_blocs.scss */
.bloc-overview div.rating {
  border-bottom: 1px solid #EFEFEF;
}
/* line 179, ../scss/elements/_blocs.scss */
.bloc-overview div.rating p {
  font-size: 1.2em;
  margin: 0px;
  padding: 2px 0;
  height: 38px;
}
/* line 184, ../scss/elements/_blocs.scss */
.bloc-overview div.rating p i {
  padding-right: 10px;
  color: #f07e1a;
}
/* line 188, ../scss/elements/_blocs.scss */
.bloc-overview div.rating p span.visits {
  font-size: 1.5em;
  float: right;
  position: relative;
  bottom: 5px;
}
/* line 197, ../scss/elements/_blocs.scss */
.bloc-overview ul.rating-right {
  margin: 0px;
  padding: 9px 0;
}
/* line 200, ../scss/elements/_blocs.scss */
.bloc-overview ul.rating-right p {
  margin-bottom: 3px;
}
/* line 202, ../scss/elements/_blocs.scss */
.bloc-overview ul.rating-right p span {
  font-size: 0.9em;
  font-style: italic;
}
/* line 207, ../scss/elements/_blocs.scss */
.bloc-overview ul.rating-right li {
  display: inline-block;
  list-style-type: none;
  padding: 0 15px;
  border-right: 1px solid #B5B5B5;
  color: #f07e1a;
  font-size: 1em;
}
/* line 215, ../scss/elements/_blocs.scss */
.bloc-overview ul.rating-right li:first-child {
  padding-left: 0px !important;
}
/* line 219, ../scss/elements/_blocs.scss */
.bloc-overview ul.rating-right li:last-child {
  border-right: 0px solid;
}
/* line 223, ../scss/elements/_blocs.scss */
.bloc-overview ul.rating-right li i {
  padding-right: 8px;
  color: #505050;
}
/* line 228, ../scss/elements/_blocs.scss */
.bloc-overview ul.rating-right li i.fa-arrow-up {
  color: #2dcc70;
}
/* line 232, ../scss/elements/_blocs.scss */
.bloc-overview ul.rating-right li i.fa-arrow-down {
  color: #e84c3d;
}
/* line 238, ../scss/elements/_blocs.scss */
.bloc-overview:hover {
  background: rgba(255, 255, 255, 0.8);
}

/* line 245, ../scss/elements/_blocs.scss */
.bloc-overview.fb:after {
  background: #3398dc;
}

/* line 249, ../scss/elements/_blocs.scss */
.bloc-overview.fb-ads:after {
  background: #86c2ea;
}

/* line 253, ../scss/elements/_blocs.scss */
.bloc-overview.analytics:after {
  background: #f07e1a;
}
/* line 255, ../scss/elements/_blocs.scss */
.bloc-overview.analytics div.rating-analytics {
  padding: 15px;
  padding-bottom: 10px;
}
/* line 259, ../scss/elements/_blocs.scss */
.bloc-overview.analytics div.rating-analytics ul.visits, .bloc-overview.analytics div.rating-analytics ul.analytics-others {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #EFEFEF;
}
/* line 263, ../scss/elements/_blocs.scss */
.bloc-overview.analytics div.rating-analytics ul.visits li, .bloc-overview.analytics div.rating-analytics ul.analytics-others li {
  list-style-type: none;
  font-size: 0.85em;
  height: 26px;
}
/* line 267, ../scss/elements/_blocs.scss */
.bloc-overview.analytics div.rating-analytics ul.visits li i, .bloc-overview.analytics div.rating-analytics ul.analytics-others li i {
  color: #f07e1a;
  padding-right: 5px;
}
/* line 271, ../scss/elements/_blocs.scss */
.bloc-overview.analytics div.rating-analytics ul.visits li span, .bloc-overview.analytics div.rating-analytics ul.analytics-others li span {
  font-size: 1.1em;
  float: right;
  font-weight: bold;
}
/* line 275, ../scss/elements/_blocs.scss */
.bloc-overview.analytics div.rating-analytics ul.visits li span i, .bloc-overview.analytics div.rating-analytics ul.analytics-others li span i {
  font-weight: normal;
  font-size: 0.8em;
  color: #505050;
  font-style: normal;
}
/* line 282, ../scss/elements/_blocs.scss */
.bloc-overview.analytics div.rating-analytics ul.visits li i.tooltip-info-btn, .bloc-overview.analytics div.rating-analytics ul.analytics-others li i.tooltip-info-btn {
  padding-left: 6px;
}
/* line 288, ../scss/elements/_blocs.scss */
.bloc-overview.analytics div.rating-analytics ul.visits {
  padding-bottom: 12px;
}
/* line 292, ../scss/elements/_blocs.scss */
.bloc-overview.analytics div.rating-analytics ul.analytics-others {
  padding: 10px 0 0 0;
  border-bottom: 0px solid #EFEFEF;
}
/* line 295, ../scss/elements/_blocs.scss */
.bloc-overview.analytics div.rating-analytics ul.analytics-others li {
  display: inline-block;
  border-right: 1px solid #EFEFEF;
  width: 49%;
  padding: 0 12px;
}
/* line 301, ../scss/elements/_blocs.scss */
.bloc-overview.analytics div.rating-analytics ul.analytics-others li span {
  font-weight: bold;
  padding: 0;
  font-size: 0.9em;
  float: right;
  vertical-align: bottom;
  position: relative;
  top: 3px;
  padding-right: 15px;
}
/* line 313, ../scss/elements/_blocs.scss */
.bloc-overview.analytics div.rating-analytics ul.analytics-others li i.tooltip-info-btn {
  padding-left: 10px;
}
/* line 317, ../scss/elements/_blocs.scss */
.bloc-overview.analytics div.rating-analytics ul.analytics-others li:first-child {
  padding: 0 10px 0 0px;
}
/* line 320, ../scss/elements/_blocs.scss */
.bloc-overview.analytics div.rating-analytics ul.analytics-others li:last-child {
  border-right: 0px solid;
}

/* line 330, ../scss/elements/_blocs.scss */
.bloc-overview.mailchimp:after {
  background: #2dcc70;
}

/* line 336, ../scss/elements/_blocs.scss */
.reporting-bloc, .action-bloc {
  padding: 0px;
  height: 200px;
}
/* line 346, ../scss/elements/_blocs.scss */
.reporting-bloc .info-reporting, .action-bloc .info-reporting {
  background: #505050;
  padding: 10px 20px;
  color: #fff;
}
/* line 352, ../scss/elements/_blocs.scss */
.reporting-bloc .info-reporting p, .action-bloc .info-reporting p {
  margin: 0px;
}
/* line 356, ../scss/elements/_blocs.scss */
.reporting-bloc .info-reporting p.title-reporting, .action-bloc .info-reporting p.title-reporting {
  font-size: 0.8em;
  color: #fff;
  font-weight: bold;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
/* line 364, ../scss/elements/_blocs.scss */
.reporting-bloc .info-reporting p.title-reporting i, .action-bloc .info-reporting p.title-reporting i {
  padding-right: 6px;
  font-size: 0.8em;
}
/* line 370, ../scss/elements/_blocs.scss */
.reporting-bloc .info-reporting p.date, .action-bloc .info-reporting p.date {
  color: #EFEFEF;
}
/* line 373, ../scss/elements/_blocs.scss */
.reporting-bloc .info-reporting p.date i, .action-bloc .info-reporting p.date i {
  color: #749E96;
  padding: 0 8px;
}
/* line 380, ../scss/elements/_blocs.scss */
.reporting-bloc .over-budget, .action-bloc .over-budget {
  color: red;
}
/* line 384, ../scss/elements/_blocs.scss */
.reporting-bloc .global-reporting, .action-bloc .global-reporting {
  margin-bottom: 0px;
  padding: 20px;
  padding-top: 15px;
}
/* line 388, ../scss/elements/_blocs.scss */
.reporting-bloc .global-reporting li, .action-bloc .global-reporting li {
  list-style-type: none;
}
/* line 390, ../scss/elements/_blocs.scss */
.reporting-bloc .global-reporting li span, .action-bloc .global-reporting li span {
  float: right;
  margin-bottom: 0px;
}
/* line 397, ../scss/elements/_blocs.scss */
.reporting-bloc.expandable, .action-bloc.expandable {
  height: auto;
}
/* line 401, ../scss/elements/_blocs.scss */
.reporting-bloc:hover, .action-bloc:hover {
  background: #e5e5e5;
}

/* line 406, ../scss/elements/_blocs.scss */
.action-bloc {
  height: auto;
}
/* line 408, ../scss/elements/_blocs.scss */
.action-bloc .action-chart {
  height: 200px;
}

/* line 3, ../scss/elements/_buttons.scss */
button, .button {
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 0.9em;
  background: #749E96;
  padding: 10px 20px;
  text-align: center;
}
/* line 12, ../scss/elements/_buttons.scss */
button:hover, .button:hover {
  background: #505050;
  cursor: pointer;
}
/* line 17, ../scss/elements/_buttons.scss */
button.active, .button.active {
  background: #505050;
}
/* line 19, ../scss/elements/_buttons.scss */
button.active:hover, .button.active:hover {
  background: #B5B5B5;
  cursor: auto;
}
/* line 25, ../scss/elements/_buttons.scss */
button.error, .button.error {
  background: #e84c3d;
}
/* line 29, ../scss/elements/_buttons.scss */
button.disabled, .button.disabled {
  background: #92b3ad;
}
/* line 33, ../scss/elements/_buttons.scss */
button.more, .button.more {
  border-top: 1px solid rgba(80, 80, 80, 0.4);
  background: none;
  color: #505050;
  text-align: center;
  width: 100%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  padding: 7px;
}
/* line 41, ../scss/elements/_buttons.scss */
button.more:after, .button.more:after {
  content: "+";
  margin-left: 5px;
  color: #749E96;
}
/* line 46, ../scss/elements/_buttons.scss */
button.more:hover, .button.more:hover {
  background: none;
  cursor: pointer;
  color: #749E96;
}

/* line 54, ../scss/elements/_buttons.scss */
.datepicker-btn {
  font-size: 0.8em;
  background: #EFEFEF;
  margin: 0px;
  min-width: inherit;
  display: inline-block;
  color: #749E96;
}
/* line 64, ../scss/elements/_buttons.scss */
.datepicker-btn i.fa-calendar {
  padding-right: 7px;
  color: #505050;
}
/* line 69, ../scss/elements/_buttons.scss */
.datepicker-btn i.fa-arrow-right {
  padding: 0 15px;
  color: #fff;
}
/* line 75, ../scss/elements/_buttons.scss */
.datepicker-btn:hover i.fa-calendar {
  color: #749E96;
}

/* line 1, ../scss/elements/_chart.scss */
.top-chart-area__wrapper {
  position: relative;
  background: #F3F3F3 !important;
  padding: 0;
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
}
/* line 8, ../scss/elements/_chart.scss */
.top-chart-area__wrapper .top-chart-tabs {
  list-style: none;
  background: #EFEFEF;
  font-family: "museo-sans-rounded", sans-serif;
}
/* line 12, ../scss/elements/_chart.scss */
.top-chart-area__wrapper .top-chart-tabs li {
  display: inline-block;
  border-bottom: 2px solid #e1e1e1;
}
/* line 15, ../scss/elements/_chart.scss */
.top-chart-area__wrapper .top-chart-tabs li a {
  display: inline-block;
  font-size: 15px;
  color: #505050;
  text-decoration: none;
  padding: 6px 12px;
}
/* line 21, ../scss/elements/_chart.scss */
.top-chart-area__wrapper .top-chart-tabs li a span {
  display: none;
}
/* line 23, ../scss/elements/_chart.scss */
.top-chart-area__wrapper .top-chart-tabs li.active i {
  margin-right: 10px;
}
/* line 24, ../scss/elements/_chart.scss */
.top-chart-area__wrapper .top-chart-tabs li.active span {
  display: inline-block;
}
/* line 25, ../scss/elements/_chart.scss */
.top-chart-area__wrapper .top-chart-tabs li.analytics i {
  color: #f07e1a;
}
/* line 26, ../scss/elements/_chart.scss */
.top-chart-area__wrapper .top-chart-tabs li.direct-marketing i {
  color: #2dcc70;
}
/* line 27, ../scss/elements/_chart.scss */
.top-chart-area__wrapper .top-chart-tabs li.social-networks i {
  color: #3398dc;
}
/* line 31, ../scss/elements/_chart.scss */
.top-chart-area__wrapper .top-chart-tabs li:hover > a, .top-chart-area__wrapper .top-chart-tabs li.active > a {
  color: #505050;
}
/* line 32, ../scss/elements/_chart.scss */
.top-chart-area__wrapper .top-chart-tabs li:hover.analytics, .top-chart-area__wrapper .top-chart-tabs li.active.analytics {
  border-bottom-color: #f07e1a;
}
/* line 33, ../scss/elements/_chart.scss */
.top-chart-area__wrapper .top-chart-tabs li:hover.direct-marketing, .top-chart-area__wrapper .top-chart-tabs li.active.direct-marketing {
  border-bottom-color: #2dcc70;
}
/* line 34, ../scss/elements/_chart.scss */
.top-chart-area__wrapper .top-chart-tabs li:hover.social-networks, .top-chart-area__wrapper .top-chart-tabs li.active.social-networks {
  border-bottom-color: #3398dc;
}
/* line 36, ../scss/elements/_chart.scss */
.top-chart-area__wrapper .top-chart-tabs li:hover {
  background: #e1e1e1;
}
/* line 42, ../scss/elements/_chart.scss */
.top-chart-area__wrapper a.option-chart {
  float: right;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 18px;
  right: 20px;
}
/* line 49, ../scss/elements/_chart.scss */
.top-chart-area__wrapper a.option-chart i {
  color: #505050;
  font-size: 0.9em;
  position: relative;
  top: 0px;
  padding-right: 3px;
}

/* line 61, ../scss/elements/_chart.scss */
ul.chart-options li {
  list-style-type: none;
  display: inline-block;
  margin: 0px 10px;
}
/* line 66, ../scss/elements/_chart.scss */
ul.chart-options li i {
  padding-right: 8px;
}
/* line 68, ../scss/elements/_chart.scss */
ul.chart-options li i.orange {
  color: #f07e1a;
}
/* line 71, ../scss/elements/_chart.scss */
ul.chart-options li i.blue {
  color: #3398dc;
}

/* line 79, ../scss/elements/_chart.scss */
.c3 .tick {
  fill: #505050;
  font-family: "museo-sans-rounded", sans-serif;
}
/* line 83, ../scss/elements/_chart.scss */
.c3 .c3-axis-x path, .c3 .c3-axis-x line {
  stroke: #505050;
}
/* line 86, ../scss/elements/_chart.scss */
.c3 .c3-axis-y path, .c3 .c3-axis-y line {
  stroke: #505050;
}
/* line 89, ../scss/elements/_chart.scss */
.c3 .c3-bar {
  opacity: .7 !important;
  background-image: url(http://www.transparenttextures.com/patterns/cross-stripes.png);
}
/* line 93, ../scss/elements/_chart.scss */
.c3 .c3-grid line {
  stroke: #B5B5B5;
}
/* line 96, ../scss/elements/_chart.scss */
.c3 .c3-legend-item {
  font-family: "museo-sans-rounded", sans-serif;
}

/* line 1, ../scss/elements/_popup.scss */
.popup {
  background: #EFEFEF;
  width: 100%;
  padding: 50px;
  padding-top: 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  height: auto;
  min-height: 100%;
}
/* line 16, ../scss/elements/_popup.scss */
.popup a.close-popup {
  font-family: "museo-sans-rounded", sans-serif;
  color: #505050;
  font-size: 1em;
  position: absolute;
  right: 35px;
  top: 25px;
  text-decoration: none;
}
/* line 27, ../scss/elements/_popup.scss */
.popup a.close-popup:hover {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 32, ../scss/elements/_popup.scss */
.popup h3 {
  text-align: center;
  background: #749E96;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 0px;
  color: #fff;
  font-size: 1.2em;
  font-weight: 200;
  text-transform: none;
}
/* line 45, ../scss/elements/_popup.scss */
.popup .loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fcfcfc;
  text-align: center;
}
/* line 53, ../scss/elements/_popup.scss */
.popup .loader-overlay:after {
  content: " ";
  position: absolute;
  display: block;
  width: 55px;
  height: 60px;
  top: -100%;
  left: 50%;
  transform-origin: center;
  margin-left: -28px;
  margin-top: -30px;
  transition: top .5s ease-in;
  background-image: url("../images/logo-girafe.png");
  background-size: 100% 100%;
}
/* line 69, ../scss/elements/_popup.scss */
.popup .loader-overlay.animate:after {
  top: 50%;
}
/* line 74, ../scss/elements/_popup.scss */
.popup .loader-overlay.spinit:after {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* line 87, ../scss/elements/_popup.scss */
.popup-lead .lead-description, .popup-lead .lead-timeline, .popup-lead .tendance {
  background: #fff;
  padding: 25px 35px;
  margin-bottom: 25px;
}
/* line 92, ../scss/elements/_popup.scss */
.popup-lead .lead-description h2, .popup-lead .lead-timeline h2, .popup-lead .tendance h2 {
  margin-bottom: 25px;
  font-size: 1.5em;
}
/* line 98, ../scss/elements/_popup.scss */
.popup-lead .lead-description {
  margin-top: 25px;
}
/* line 100, ../scss/elements/_popup.scss */
.popup-lead .lead-description h1, .popup-lead .lead-description span.total-rating, .popup-lead .lead-description a#panel1a {
  display: inline-block;
  vertical-align: center;
}
/* line 105, ../scss/elements/_popup.scss */
.popup-lead .lead-description h1 {
  font-size: 1.5em;
  text-transform: none;
  margin-right: 25px;
}
/* line 109, ../scss/elements/_popup.scss */
.popup-lead .lead-description h1 i {
  color: #f07e1a;
  padding-right: 12px;
}
/* line 115, ../scss/elements/_popup.scss */
.popup-lead .lead-description span.total-rating {
  font-size: 1.2em;
}
/* line 117, ../scss/elements/_popup.scss */
.popup-lead .lead-description span.total-rating i.fa-star {
  color: #f1c40f;
  margin: 0 12px 0 3px;
}
/* line 123, ../scss/elements/_popup.scss */
.popup-lead .lead-description .accordion-navigation > a, .popup-lead .lead-description .accordion dd > a {
  background: none;
  padding: 0px;
  margin: 0px;
  font-family: "museo-sans-rounded", sans-serif;
  text-decoration: none;
  font-size: 1em;
  color: #749E96;
}
/* line 131, ../scss/elements/_popup.scss */
.popup-lead .lead-description .accordion-navigation > .content.active, .popup-lead .lead-description .accordion dd > .content,
.popup-lead .lead-description .accordion-navigation > .content.active, .popup-lead .lead-description .accordion dd > .content.active {
  background: none !important;
  padding: 0px;
  margin: 0px;
  padding-top: 35px;
}
/* line 138, ../scss/elements/_popup.scss */
.popup-lead .lead-description .accordion-navigation > .content.active ul.personal-details, .popup-lead .lead-description .accordion dd > .content ul.personal-details,
.popup-lead .lead-description .accordion-navigation > .content.active ul.personal-details, .popup-lead .lead-description .accordion dd > .content.active ul.personal-details {
  margin: 0px;
  padding: 0px;
}
/* line 140, ../scss/elements/_popup.scss */
.popup-lead .lead-description .accordion-navigation > .content.active ul.personal-details li, .popup-lead .lead-description .accordion dd > .content ul.personal-details li,
.popup-lead .lead-description .accordion-navigation > .content.active ul.personal-details li, .popup-lead .lead-description .accordion dd > .content.active ul.personal-details li {
  padding: 10px 0;
  list-style-type: none;
  margin: 0px;
  border-bottom: 1px solid #EFEFEF;
}
/* line 145, ../scss/elements/_popup.scss */
.popup-lead .lead-description .accordion-navigation > .content.active ul.personal-details li p, .popup-lead .lead-description .accordion dd > .content ul.personal-details li p,
.popup-lead .lead-description .accordion-navigation > .content.active ul.personal-details li p, .popup-lead .lead-description .accordion dd > .content.active ul.personal-details li p {
  color: #505050;
  font-weight: bold;
  font-size: 1em;
}
/* line 150, ../scss/elements/_popup.scss */
.popup-lead .lead-description .accordion-navigation > .content.active ul.personal-details li span, .popup-lead .lead-description .accordion dd > .content ul.personal-details li span,
.popup-lead .lead-description .accordion-navigation > .content.active ul.personal-details li span, .popup-lead .lead-description .accordion dd > .content.active ul.personal-details li span {
  display: inline;
  float: right;
  position: relative;
  bottom: 25px;
}
/* line 160, ../scss/elements/_popup.scss */
.popup-lead .lead-description a.more {
  float: right;
}
/* line 162, ../scss/elements/_popup.scss */
.popup-lead .lead-description a.more i {
  padding-left: 12px;
  color: #505050;
}
/* line 170, ../scss/elements/_popup.scss */
.popup-lead aside.tendance .pie-chart span {
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  height: 150px;
  width: 150px;
  background: #EFEFEF;
  display: block;
  margin-bottom: 25px;
  text-align: center;
  font-size: 0.6em;
}
/* line 181, ../scss/elements/_popup.scss */
.popup-lead aside.tendance .list-tendances {
  margin: 0px;
  padding: 0px;
}
/* line 183, ../scss/elements/_popup.scss */
.popup-lead aside.tendance .list-tendances li {
  list-style-type: none;
  padding: 10px 0;
  border-bottom: 1px solid #EFEFEF;
}
/* line 187, ../scss/elements/_popup.scss */
.popup-lead aside.tendance .list-tendances li h3 {
  color: #f07e1a;
  font-weight: bold;
  background: none;
  margin: 0px;
  padding: 0px;
  text-align: left;
}
/* line 195, ../scss/elements/_popup.scss */
.popup-lead aside.tendance .list-tendances li h3 span {
  color: #505050;
  font-weight: normal;
  font-size: 0.8em;
  float: right;
}

/* line 212, ../scss/elements/_popup.scss */
.popup-overview .overview-detail, .popup-overview .overview-reach {
  background: #fff;
  padding: 25px 35px;
  min-height: 150px;
  margin-bottom: 25px;
}
/* line 219, ../scss/elements/_popup.scss */
.popup-overview .overview-detail p, .popup-overview .overview-reach p {
  font-size: 0.9em;
  height: 25px;
}
/* line 222, ../scss/elements/_popup.scss */
.popup-overview .overview-detail p span, .popup-overview .overview-reach p span {
  float: right;
  font-weight: bold;
  color: #749E96;
  font-size: 1.3em;
}
/* line 230, ../scss/elements/_popup.scss */
.popup-overview .overview-detail p.title, .popup-overview .overview-reach p.title {
  font-weight: bold;
}
/* line 235, ../scss/elements/_popup.scss */
.popup-overview .overview-detail ul li, .popup-overview .overview-reach ul li {
  border: 1px solid #EFEFEF;
  display: inline-block;
  width: 49%;
  text-align: center;
  padding: 8px 0;
}
/* line 241, ../scss/elements/_popup.scss */
.popup-overview .overview-detail ul li span, .popup-overview .overview-reach ul li span {
  display: block;
  font-weight: bold;
  color: #749E96;
  font-size: 1.3em;
}
/* line 248, ../scss/elements/_popup.scss */
.popup-overview .overview-detail ul li:first-child, .popup-overview .overview-reach ul li:first-child {
  border-right: 1px solid #EFEFEF;
}
/* line 255, ../scss/elements/_popup.scss */
.popup-overview .overview-reach {
  padding-bottom: 0px;
}
/* line 259, ../scss/elements/_popup.scss */
.popup-overview .overview-hashtags {
  background: #fff;
  padding: 25px 35px;
  margin-bottom: 25px;
}
/* line 264, ../scss/elements/_popup.scss */
.popup-overview .overview-hashtags input[type=checkbox] {
  float: right;
}
/* line 268, ../scss/elements/_popup.scss */
.popup-overview .overview-hashtags ul li {
  list-style-type: none;
}
/* line 272, ../scss/elements/_popup.scss */
.popup-overview .overview-hashtags ul.hashtags-list {
  margin: 0px;
}
/* line 275, ../scss/elements/_popup.scss */
.popup-overview .overview-hashtags ul.hashtags-list li {
  border-bottom: 1px solid #EFEFEF;
  padding: 10px 0;
  list-style-type: none;
  vertical-align: center;
}
/* line 281, ../scss/elements/_popup.scss */
.popup-overview .overview-hashtags ul.hashtags-list li a, .popup-overview .overview-hashtags ul.hashtags-list li span {
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
/* line 287, ../scss/elements/_popup.scss */
.popup-overview .overview-hashtags ul.hashtags-list li a.hashtags {
  font-size: 1.2em;
}
/* line 291, ../scss/elements/_popup.scss */
.popup-overview .overview-hashtags ul.hashtags-list li a + span {
  margin-left: 25px;
}
/* line 297, ../scss/elements/_popup.scss */
.popup-overview .overview-hashtags .export-buttons {
  text-align: right;
  padding-top: 25px;
}
/* line 300, ../scss/elements/_popup.scss */
.popup-overview .overview-hashtags .export-buttons button, .popup-overview .overview-hashtags .export-buttons p, .popup-overview .overview-hashtags .export-buttons input {
  display: inline-block;
  margin-bottom: 0px;
}
/* line 305, ../scss/elements/_popup.scss */
.popup-overview .overview-hashtags .export-buttons p {
  padding: 0 12px;
}
/* line 309, ../scss/elements/_popup.scss */
.popup-overview .overview-hashtags .export-buttons input[type=text] {
  width: 120px;
}
/* line 315, ../scss/elements/_popup.scss */
.popup-overview .overview-export {
  background: #fff;
  padding: 25px 35px;
  margin-bottom: 25px;
}
/* line 320, ../scss/elements/_popup.scss */
.popup-overview .overview-export h4 {
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
/* line 327, ../scss/elements/_popup.scss */
.popup-overview .overview-posts {
  background: #fff;
  padding: 25px 35px;
  margin-bottom: 25px;
  display: block;
  overflow: auto;
}
/* line 334, ../scss/elements/_popup.scss */
.popup-overview .overview-posts h4 {
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
/* line 340, ../scss/elements/_popup.scss */
.popup-overview .overview-posts .bloc-campaigns {
  border-top: 1px solid #EFEFEF;
  border-right: 1px solid #EFEFEF;
  border-left: 1px solid #EFEFEF;
}
/* line 347, ../scss/elements/_popup.scss */
.popup-overview .overview-posts div.pie-chart-popup-overview {
  width: 35%;
  float: right;
}
/* line 352, ../scss/elements/_popup.scss */
.popup-overview .overview-posts div.pie-chart-popup-overview, .popup-overview .overview-posts table.popup-overview-traffic-table {
  display: inline-block;
}

/* line 359, ../scss/elements/_popup.scss */
table.popup-overview-traffic-table, .popup-table {
  width: 65%;
  font-family: "museo-sans-rounded", sans-serif;
}
/* line 364, ../scss/elements/_popup.scss */
table.popup-overview-traffic-table tr, .popup-table tr {
  width: 100%;
}
/* line 366, ../scss/elements/_popup.scss */
table.popup-overview-traffic-table tr.highlight, .popup-table tr.highlight {
  background: #72C5B4;
}
/* line 368, ../scss/elements/_popup.scss */
table.popup-overview-traffic-table tr.highlight td a, .popup-table tr.highlight td a {
  color: #fff;
}
/* line 374, ../scss/elements/_popup.scss */
table.popup-overview-traffic-table thead, .popup-table thead {
  background: #749E96;
}
/* line 376, ../scss/elements/_popup.scss */
table.popup-overview-traffic-table thead th, .popup-table thead th {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  font-size: 0.8em;
}
/* line 382, ../scss/elements/_popup.scss */
table.popup-overview-traffic-table thead th:first-child, .popup-table thead th:first-child {
  text-align: left;
}
/* line 388, ../scss/elements/_popup.scss */
table.popup-overview-traffic-table thead.summary, .popup-table thead.summary {
  background: #ceddda;
}
/* line 390, ../scss/elements/_popup.scss */
table.popup-overview-traffic-table thead.summary th, .popup-table thead.summary th {
  color: #505050;
  letter-spacing: 0px;
  font-size: 0.9em;
  text-align: center;
  height: 65px;
  margin-bottom: 20px;
}
/* line 398, ../scss/elements/_popup.scss */
table.popup-overview-traffic-table thead.summary th:first-child, .popup-table thead.summary th:first-child {
  font-weight: bold;
  text-align: left;
  font-size: 0.8em;
}
/* line 406, ../scss/elements/_popup.scss */
table.popup-overview-traffic-table tbody td, .popup-table tbody td {
  font-size: 0.8em;
  text-align: center;
}
/* line 409, ../scss/elements/_popup.scss */
table.popup-overview-traffic-table tbody td:first-child, .popup-table tbody td:first-child {
  text-align: left;
}

/* line 420, ../scss/elements/_popup.scss */
.popup-reporting h3 {
  margin-bottom: 10px;
  background: #749E96;
}
/* line 426, ../scss/elements/_popup.scss */
.popup-reporting .recap-budget {
  margin-bottom: 25px;
  overflow: auto;
  border-bottom: 1px solid #EFEFEF;
}
/* line 433, ../scss/elements/_popup.scss */
.popup-reporting .reporting-budget {
  background: #fff;
  padding: 15px 25px;
  margin-bottom: 25px;
}
/* line 438, ../scss/elements/_popup.scss */
.popup-reporting .reporting-budget span {
  float: right;
}
/* line 441, ../scss/elements/_popup.scss */
.popup-reporting .reporting-budget.over-budget {
  color: red;
}
/* line 446, ../scss/elements/_popup.scss */
.popup-reporting .report-description {
  background: #fff;
  padding: 25px;
}
/* line 450, ../scss/elements/_popup.scss */
.popup-reporting .report-description .pdf-file {
  border-top: 1px solid #EFEFEF;
  text-decoration: none;
  font-size: 0.85em;
  display: block;
  padding-top: 14px;
  margin-top: 20px;
}
/* line 461, ../scss/elements/_popup.scss */
.popup-reporting .reporting-bloc-popup {
  padding: 0px;
  height: 200px;
  padding: 20px 25px;
}
/* line 467, ../scss/elements/_popup.scss */
.popup-reporting .reporting-bloc-popup .info-reporting {
  border-bottom: 1px solid #EFEFEF;
  background: none;
}
/* line 471, ../scss/elements/_popup.scss */
.popup-reporting .reporting-bloc-popup .info-reporting p.title-reporting {
  font-weight: bold;
  font-size: 0.9em;
  margin: 0px;
}
/* line 476, ../scss/elements/_popup.scss */
.popup-reporting .reporting-bloc-popup .info-reporting p.date {
  color: #B5B5B5;
}
/* line 478, ../scss/elements/_popup.scss */
.popup-reporting .reporting-bloc-popup .info-reporting p.date i {
  color: #f07e1a;
  padding: 0 8px;
}
/* line 485, ../scss/elements/_popup.scss */
.popup-reporting .reporting-bloc-popup .over-budget {
  color: red;
}
/* line 489, ../scss/elements/_popup.scss */
.popup-reporting .reporting-bloc-popup .global-reporting {
  padding-top: 15px;
}
/* line 491, ../scss/elements/_popup.scss */
.popup-reporting .reporting-bloc-popup .global-reporting li {
  list-style-type: none;
}
/* line 493, ../scss/elements/_popup.scss */
.popup-reporting .reporting-bloc-popup .global-reporting li span {
  float: right;
  margin-bottom: 0px;
  color: #749E96;
  font-weight: bold;
}
/* line 502, ../scss/elements/_popup.scss */
.popup-reporting .reporting-bloc-popup .display-table {
  text-align: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 0;
  right: 0;
  color: white;
}
/* line 510, ../scss/elements/_popup.scss */
.popup-reporting .reporting-bloc-popup .display-table i {
  background: #749E96;
  border-radius: 20px 20px 0 0;
  padding: 3px 5px;
  font-size: .8em;
}
/* line 520, ../scss/elements/_popup.scss */
.popup-reporting .reporting-bloc-popup.expandable {
  height: auto;
}
/* line 524, ../scss/elements/_popup.scss */
.popup-reporting .reporting-bloc-popup i.fa-table {
  position: absolute;
  top: 85%;
  right: 25px;
  color: #B5B4B3;
  font-size: 0.8em;
}
/* line 532, ../scss/elements/_popup.scss */
.popup-reporting .reporting-bloc-popup:hover {
  background: #e2e2e2;
}
/* line 537, ../scss/elements/_popup.scss */
.popup-reporting .more-reporting-bloc-popup {
  background: #fff;
  padding: 25px 35px;
  margin-bottom: 25px;
  position: relative;
}
/* line 542, ../scss/elements/_popup.scss */
.popup-reporting .more-reporting-bloc-popup:before {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 18.5px 20px 18.5px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -17px;
  left: 48%;
}
/* line 555, ../scss/elements/_popup.scss */
.popup-reporting .more-reporting-bloc-popup h5 {
  margin-bottom: 20px;
  border-bottom: 1px solid #EFEFEF;
}
/* line 560, ../scss/elements/_popup.scss */
.popup-reporting .more-reporting-bloc-popup table {
  min-width: 100%;
  border: 1px solid #EFEFEF;
}
/* line 564, ../scss/elements/_popup.scss */
.popup-reporting .more-reporting-bloc-popup table thead tr th:first-child.large,
.popup-reporting .more-reporting-bloc-popup table tbody tr td:first-child.large {
  width: 40%;
}

/* line 1, ../scss/elements/_section-height-limiter.scss */
.section-height-limiter {
  position: relative;
  max-height: 550px;
  overflow-y: hidden;
  transition: max-height 1s linear;
}
/* line 6, ../scss/elements/_section-height-limiter.scss */
.section-height-limiter:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-linear-gradient(top, rgba(252, 252, 252, 0) 0%, #fcfcfc 60%, #fcfcfc 100%);
  background-image: -webkit-linear-gradient(top, rgba(252, 252, 252, 0) 0%, #fcfcfc 60%, #fcfcfc 100%);
  background-image: linear-gradient(to bottom, rgba(252, 252, 252, 0) 0%, #fcfcfc 60%, #fcfcfc 100%);
}

/* line 18, ../scss/elements/_section-height-limiter.scss */
.section-height-limit--open {
  max-height: 9999px;
}
/* line 20, ../scss/elements/_section-height-limiter.scss */
.section-height-limit--open:after, .section-height-limit--open .section-height-limiter__more-btn {
  display: none;
}

/* line 26, ../scss/elements/_section-height-limiter.scss */
.section-height-limiter__more-btn {
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

/* line 1, ../scss/elements/_table.scss */
table.data-table {
  padding: 0px;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 0.9em;
  color: #505050;
  border: 0px solid;
  background: none;
  border-collapse: collapse;
}
/* line 16, ../scss/elements/_table.scss */
table.data-table thead tr th {
  background: none;
  color: #505050 !important;
  font-size: 0.9em;
  border-bottom: 1px solid #749E96;
}
/* line 25, ../scss/elements/_table.scss */
table.data-table tbody tr td, table.data-table tbody tr td a {
  font-size: 0.9em;
  background: none;
  padding: 12px;
  border-bottom: 1px solid #d0d0d0;
}
/* line 31, ../scss/elements/_table.scss */
table.data-table tbody tr td a {
  border-bottom: 0px solid #d0d0d0;
}
/* line 36, ../scss/elements/_table.scss */
table.data-table.row-clickable tbody tr:hover {
  background: #bae3da;
  cursor: pointer;
}

/* line 43, ../scss/elements/_table.scss */
table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td {
  line-height: 0.9em;
}

/* line 47, ../scss/elements/_table.scss */
table thead tr th {
  line-height: 1.8em;
}

/* line 51, ../scss/elements/_table.scss */
table tr.even, table tr.alt, table tr:nth-of-type(even) {
  background: none;
}

/* line 56, ../scss/elements/_table.scss */
table.overview-table {
  width: 100%;
}
/* line 59, ../scss/elements/_table.scss */
table.overview-table thead th, table.overview-table tbody tr td {
  text-align: center;
}
/* line 62, ../scss/elements/_table.scss */
table.overview-table thead th:nth-child(2), table.overview-table tbody tr td:nth-child(2) {
  text-align: left;
}
/* line 66, ../scss/elements/_table.scss */
table.overview-table thead th:first-child, table.overview-table tbody tr td:first-child {
  max-width: 5px;
  padding: 0px;
}
/* line 74, ../scss/elements/_table.scss */
table.overview-table tbody tr td.analytics {
  background: #f07e1a;
}
/* line 78, ../scss/elements/_table.scss */
table.overview-table tbody tr td.facebook {
  background: #3398dc;
}
/* line 83, ../scss/elements/_table.scss */
table.overview-table tbody tr:hover {
  background: #b9ceca;
  cursor: pointer;
}

/* line 89, ../scss/elements/_table.scss */
table.overview-ranking {
  border: 0px solid;
  border-collapse: collapse;
}
/* line 94, ../scss/elements/_table.scss */
table.overview-ranking tr td {
  border-bottom: 1px solid #e9e9e9;
}
/* line 98, ../scss/elements/_table.scss */
table.overview-ranking thead {
  background: none;
}
/* line 100, ../scss/elements/_table.scss */
table.overview-ranking thead tr th {
  color: #505050;
  border-collapse: collapse;
  border-bottom: 1px solid #749E96;
}
/* line 107, ../scss/elements/_table.scss */
table.overview-ranking th, table.overview-ranking td {
  background: none;
  font-family: "museo-sans-rounded", sans-serif;
  padding: 14px 5px;
}
/* line 113, ../scss/elements/_table.scss */
table.overview-ranking td:nth-child(2), table.overview-ranking td:nth-child(3), table.overview-ranking th:nth-child(2), table.overview-ranking th:nth-child(3) {
  text-align: center;
}
/* line 117, ../scss/elements/_table.scss */
table.overview-ranking td:nth-child(2), table.overview-ranking td:nth-child(3) {
  color: #749E96;
  font-weight: bold;
}
/* line 122, ../scss/elements/_table.scss */
table.overview-ranking tr.even, table.overview-ranking tr.alt, table.overview-ranking tr:nth-of-type(even) {
  background: none;
  border-top: 1px solid #505050;
}

/* line 128, ../scss/elements/_table.scss */
button.more-ranking {
  background: none;
  color: #749E96;
  padding: 0px;
}
/* line 132, ../scss/elements/_table.scss */
button.more-ranking:hover {
  background: none;
  color: #505050;
}

/* line 3, ../scss/elements/_text.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "museo-sans-rounded", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #505050;
}
/* line 8, ../scss/elements/_text.scss */
h1 span.highlight, h2 span.highlight, h3 span.highlight, h4 span.highlight, h5 span.highlight, h6 span.highlight {
  color: #f07e1a;
}

/* line 13, ../scss/elements/_text.scss */
h1 {
  font-size: 1.8em;
}

/* line 16, ../scss/elements/_text.scss */
h2 {
  font-size: 1.6em;
}

/* line 19, ../scss/elements/_text.scss */
h3 {
  font-size: 1.4em;
}

/* line 22, ../scss/elements/_text.scss */
h4 {
  font-size: 1.2em;
}

/* line 25, ../scss/elements/_text.scss */
h5 {
  font-size: 1.0em;
}

/* line 28, ../scss/elements/_text.scss */
h6 {
  font-size: 0.8em;
}

/* line 34, ../scss/elements/_text.scss */
p, label {
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 0.85em;
  color: #505050;
}

/* line 40, ../scss/elements/_text.scss */
p {
  margin-bottom: 7px;
}
/* line 42, ../scss/elements/_text.scss */
p span.highlight {
  color: #f07e1a;
  margin-bottom: 7px;
}

/* line 50, ../scss/elements/_text.scss */
a {
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 0.85em;
  color: #749E96;
  text-decoration: underline;
}
/* line 55, ../scss/elements/_text.scss */
a:hover {
  color: #505050;
  cursor: pointer;
}

/* line 63, ../scss/elements/_text.scss */
ul {
  margin-left: 0px;
}

/* line 67, ../scss/elements/_text.scss */
li {
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 0.85em;
  color: #505050;
}
/* line 72, ../scss/elements/_text.scss */
li span.highlight {
  color: #f07e1a;
  margin-bottom: 7px;
}

/* line 80, ../scss/elements/_text.scss */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -60px 0 0 -60px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* line 3, ../scss/elements/_datepicker.scss */
.bloc-datepicker {
  background: #fff;
  right: 15px;
  position: absolute;
  z-index: 9;
  border: 1px solid #505050;
  top: 45px;
}
/* line 12, ../scss/elements/_datepicker.scss */
.bloc-datepicker p.selected-period {
  font-size: 0.9em;
  background: #505050;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  margin: 0px;
}
/* line 20, ../scss/elements/_datepicker.scss */
.bloc-datepicker p.selected-period i.fa-calendar {
  padding-right: 7px;
  color: #749E96;
}
/* line 25, ../scss/elements/_datepicker.scss */
.bloc-datepicker p.selected-period i.fa-arrow-right {
  padding: 0 15px;
  color: #838383;
}
/* line 32, ../scss/elements/_datepicker.scss */
.bloc-datepicker .period-select {
  padding: 20px;
}
/* line 35, ../scss/elements/_datepicker.scss */
.bloc-datepicker .period-select p {
  margin: 0px;
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
  width: 90px;
}
/* line 43, ../scss/elements/_datepicker.scss */
.bloc-datepicker .period-select hr {
  margin: 18px 0 12px 0;
}
/* line 47, ../scss/elements/_datepicker.scss */
.bloc-datepicker .period-select button {
  padding: 6px 20px;
  margin: 0px;
  margin-right: 5px;
  font-size: 0.8em;
}
/* line 54, ../scss/elements/_datepicker.scss */
.bloc-datepicker .period-select table.date-select {
  border: solid 0px #dddddd;
  margin: 0px;
  display: inline-block;
  vertical-align: top;
}
/* line 60, ../scss/elements/_datepicker.scss */
.bloc-datepicker .period-select table.date-select thead tr th {
  background: #fff;
  color: #749E96 !important;
  text-transform: uppercase;
  padding: 0px;
  text-align: center;
  font-size: 1em;
}
/* line 68, ../scss/elements/_datepicker.scss */
.bloc-datepicker .period-select table.date-select thead tr th i {
  color: #505050;
  padding-right: 8px;
  font-size: 1.5em;
}
/* line 74, ../scss/elements/_datepicker.scss */
.bloc-datepicker .period-select table.date-select thead tr th i.fa-calendar {
  font-size: 1em;
}
/* line 78, ../scss/elements/_datepicker.scss */
.bloc-datepicker .period-select table.date-select thead tr th p {
  padding: 0 29px 0 36px;
}
/* line 83, ../scss/elements/_datepicker.scss */
.bloc-datepicker .period-select table.date-select tbody tr td {
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 0.8em;
  text-align: center;
  color: #505050;
}
/* line 90, ../scss/elements/_datepicker.scss */
.bloc-datepicker .period-select table.date-select button {
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 0.9em;
  background: #749E96;
  padding: 8px 20px;
  text-align: center;
}
/* line 99, ../scss/elements/_datepicker.scss */
.bloc-datepicker .period-select table.date-select button:hover {
  background: #505050;
  cursor: pointer;
}
/* line 105, ../scss/elements/_datepicker.scss */
.bloc-datepicker .period-select table.date-select .datepicker td, .bloc-datepicker .period-select table.date-select .datepicker th {
  background: none !important;
}
/* line 110, ../scss/elements/_datepicker.scss */
.bloc-datepicker .confirm button {
  width: 100%;
  text-align: center;
  padding: 12px;
  margin-right: 5px;
  margin-top: 0px;
  text-transform: uppercase;
  background: #f07e1a;
}
/* line 118, ../scss/elements/_datepicker.scss */
.bloc-datepicker .confirm button i {
  padding-right: 12px;
}
/* line 122, ../scss/elements/_datepicker.scss */
.bloc-datepicker .confirm button:hover {
  background: rgba(240, 126, 26, 0.8);
}

/* line 2, ../scss/elements/_timeline.scss */
.cbp_tmtimeline {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

/* The line */
/* line 10, ../scss/elements/_timeline.scss */
.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #EFEFEF;
  left: 20%;
  margin-left: -10px;
}

/* line 21, ../scss/elements/_timeline.scss */
.cbp_tmtimeline > li {
  position: relative;
}

/* The date/time */
/* line 26, ../scss/elements/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

/* line 33, ../scss/elements/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right;
}

/* line 38, ../scss/elements/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: #749E96;
}

/* line 43, ../scss/elements/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  font-size: 1.3em;
  font-weight: bold;
  color: #505050;
}

/* Right content */
/* line 50, ../scss/elements/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: #EFEFEF;
  color: #fff;
  padding: 10px 15px;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
}
/* line 61, ../scss/elements/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmlabel h2 {
  font-size: 1em;
  color: #505050;
  margin: 0px;
  margin-bottom: 5px;
  text-transform: none;
}
/* line 69, ../scss/elements/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmlabel p {
  margin: 0px;
}
/* line 71, ../scss/elements/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmlabel p span i.fa-star {
  color: #f1c40f;
}

/* The triangle */
/* line 79, ../scss/elements/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmlabel:after {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #EFEFEF;
  border-width: 10px;
  top: 10px;
}

/* The icons */
/* line 93, ../scss/elements/_timeline.scss */
.cbp_tmtimeline > li .cbp_tmicon {
  width: 10px;
  height: 10px;
  position: absolute;
  background: #749E96;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #EFEFEF;
  left: 21.4%;
  top: 15px;
  margin: 0 0 0 -25px;
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {
  /* line 108, ../scss/elements/_timeline.scss */
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 47.2em) {
  /* line 114, ../scss/elements/_timeline.scss */
  .cbp_tmtimeline:before {
    display: none;
  }

  /* line 118, ../scss/elements/_timeline.scss */
  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  /* line 124, ../scss/elements/_timeline.scss */
  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: left;
  }

  /* line 128, ../scss/elements/_timeline.scss */
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }

  /* line 135, ../scss/elements/_timeline.scss */
  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #3594cb;
    top: -20px;
  }

  /* line 143, ../scss/elements/_timeline.scss */
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: #6cbfee;
  }

  /* line 148, ../scss/elements/_timeline.scss */
  .cbp_tmtimeline > li .cbp_tmicon {
    position: relative;
    float: right;
    left: auto;
    margin: -55px 5px 0 0px;
  }
}
/* line 4, ../scss/elements/_export-panel.scss */
.bloc-export-panel h2 {
  font-size: 1.2em;
}
/* line 8, ../scss/elements/_export-panel.scss */
.bloc-export-panel button.add-more {
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  padding: 11px 16px;
  display: block;
}
/* line 14, ../scss/elements/_export-panel.scss */
.bloc-export-panel select, .bloc-export-panel a.remove-select {
  display: inline-block;
}
/* line 18, ../scss/elements/_export-panel.scss */
.bloc-export-panel a.remove-select {
  margin-left: 15px;
  color: #505050;
}
/* line 23, ../scss/elements/_export-panel.scss */
.bloc-export-panel select#select-export {
  width: 80%;
}
/* line 27, ../scss/elements/_export-panel.scss */
.bloc-export-panel label {
  display: inline-block;
  margin-right: 20px;
}
/* line 32, ../scss/elements/_export-panel.scss */
.bloc-export-panel label span {
  margin-left: 10px;
}
/* line 36, ../scss/elements/_export-panel.scss */
.bloc-export-panel input[type="text"] {
  width: 36%;
  margin-left: 14px;
  display: inline-block;
}

/* line 44, ../scss/elements/_export-panel.scss */
.bloc-export-button input[type="radio"] {
  margin: 0 4px 1rem 0;
}
/* line 48, ../scss/elements/_export-panel.scss */
.bloc-export-button input[type="text"] {
  width: 36%;
  margin-left: 14px;
  display: inline-block;
}

/* line 3, ../scss/elements/_login.scss */
.bloc-login {
  margin-top: 100px;
  text-align: center;
  background: #fff;
  padding: 30px;
}
/* line 9, ../scss/elements/_login.scss */
.bloc-login h1 {
  margin: 15px 0 30px 0;
  text-align: center;
  border-top: 1px solid #749E96;
  border-bottom: 1px solid #749E96;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 1.3em;
}
/* line 19, ../scss/elements/_login.scss */
.bloc-login img {
  width: 80px;
  margin: 10px 0 15px 0;
}
/* line 24, ../scss/elements/_login.scss */
.bloc-login input[type=email], .bloc-login input[type=password] {
  background: #fcfcfc;
  border: 0px solid;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 30, ../scss/elements/_login.scss */
.bloc-login ::-webkit-input-placeholder {
  color: #bcbcbc;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
/* line 39, ../scss/elements/_login.scss */
.bloc-login :-moz-placeholder {
  /* Firefox 18- */
  color: #bcbcbc;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
/* line 48, ../scss/elements/_login.scss */
.bloc-login ::-moz-placeholder {
  /* Firefox 19+ */
  color: #bcbcbc;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
/* line 57, ../scss/elements/_login.scss */
.bloc-login :-ms-input-placeholder {
  color: #bcbcbc;
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}
/* line 66, ../scss/elements/_login.scss */
.bloc-login button {
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 3, ../scss/elements/_tooltip.scss */
.tooltip-bloc {
  position: absolute;
  background: #CDCDCD;
  width: 250px;
}
/* line 10, ../scss/elements/_tooltip.scss */
.tooltip-bloc .date, .tooltip-bloc .title {
  background: #505050;
  padding: 5px 20px;
  color: #fff;
  margin-bottom: 0px;
}
/* line 17, ../scss/elements/_tooltip.scss */
.tooltip-bloc .resume {
  padding: 10px 20px;
}
/* line 19, ../scss/elements/_tooltip.scss */
.tooltip-bloc .resume li {
  list-style-type: none;
}
/* line 21, ../scss/elements/_tooltip.scss */
.tooltip-bloc .resume li span {
  float: right;
  text-align: right;
  margin-bottom: 0px;
  font-weight: bold;
}
/* line 30, ../scss/elements/_tooltip.scss */
.tooltip-bloc p.resume {
  line-height: 18px;
  margin: 0px;
}

/* line 36, ../scss/elements/_tooltip.scss */
.tooltip-chart {
  position: static;
}

/* line 42, ../scss/elements/_tooltip.scss */
.tooltip-info, .tooltip-chart {
  border: 1px solid #cecece;
  padding: 5px 10px;
  max-width: 220px;
  background: #D6D6D6;
  font-size: .9em;
}
/* line 49, ../scss/elements/_tooltip.scss */
.tooltip-info p.title, .tooltip-info p.resume, .tooltip-chart p.title, .tooltip-chart p.resume {
  background: none;
  padding: 0px;
}
/* line 54, ../scss/elements/_tooltip.scss */
.tooltip-info p.title, .tooltip-chart p.title {
  color: #505050;
  font-weight: bold;
  font-size: .8em;
  margin-bottom: 2px;
}
/* line 55, ../scss/elements/_tooltip.scss */
.tooltip-info p.title i, .tooltip-chart p.title i {
  padding-right: 3px;
}
/* line 64, ../scss/elements/_tooltip.scss */
.tooltip-info p.resume, .tooltip-chart p.resume {
  line-height: 16px;
  font-size: 0.75em;
}
/* line 68, ../scss/elements/_tooltip.scss */
.tooltip-info ul.resume, .tooltip-chart ul.resume {
  padding: 0px;
  margin-bottom: 0;
  font-size: .9em;
}

/* line 76, ../scss/elements/_tooltip.scss */
.tooltip-info .fa-info-circle {
  float: left;
  font-size: .8em;
  color: #9d9d9d;
  margin-top: 1px;
  margin-left: -3px;
}
/* line 83, ../scss/elements/_tooltip.scss */
.tooltip-info p.resume {
  margin-left: 12px;
}

/* line 89, ../scss/elements/_tooltip.scss */
i.tooltip-info-btn {
  color: #B5B5B5 !important;
  cursor: help;
}

/* line 95, ../scss/elements/_tooltip.scss */
.tooltip-reach .title {
  margin: 0px;
}
/* line 98, ../scss/elements/_tooltip.scss */
.tooltip-reach ul.reach {
  padding: 0px;
  margin: 0px;
}
/* line 100, ../scss/elements/_tooltip.scss */
.tooltip-reach ul.reach li {
  display: inline-block;
  width: 49%;
  padding: 10px 0;
  text-align: center;
}
/* line 105, ../scss/elements/_tooltip.scss */
.tooltip-reach ul.reach li span {
  display: block;
  font-weight: bold;
  font-size: 1.5em;
}
/* line 111, ../scss/elements/_tooltip.scss */
.tooltip-reach ul.reach li:first-child {
  border-right: 1px solid #fff;
}

/*
IMPORTED FROM GEMSTONE Amethyst
MUST BE REFACTORED
*/
/* line 5, ../scss/elements/_actions-page.scss */
.no-inner .asterisk, .has-tip .asterisk {
  display: none;
}

/* line 8, ../scss/elements/_actions-page.scss */
#actions-table, #buyers-table {
  width: 2000px;
}

/* line 11, ../scss/elements/_actions-page.scss */
#actions-table td, #buyers-table td {
  font-size: .8em;
}

/* line 14, ../scss/elements/_actions-page.scss */
#actions-table_wrapper, #buyers-table_wrapper {
  overflow: auto;
}

/* line 20, ../scss/elements/_actions-page.scss */
#actions-table .rating-star {
  color: #CCCCCC !important;
}

/* line 23, ../scss/elements/_actions-page.scss */
#actions-page-acc .date {
  color: #f07e1a;
  font-style: italic;
  font-size: .8em;
  padding-top: 5px;
}

/* line 29, ../scss/elements/_actions-page.scss */
.leads-type {
  color: #AAAAAA;
  font-size: .8em;
}

/** 
 * Modal venn diagram
 */
/* line 36, ../scss/elements/_actions-page.scss */
.venntooltip {
  position: absolute;
  text-align: center;
  width: 128px;
  height: 28px;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
  line-height: 24px;
}

/* line 49, ../scss/elements/_actions-page.scss */
#venn_product_selector {
  max-height: 600px;
  overflow: auto;
  margin-bottom: 5px;
}

/* line 54, ../scss/elements/_actions-page.scss */
.venn_product_selector {
  margin-left: 0 !important;
  margin-bottom: 0;
}
/* line 57, ../scss/elements/_actions-page.scss */
.venn_product_selector li {
  list-style: none;
  display: inline-block;
  padding: 3px;
  margin-right: 15px;
}
/* line 62, ../scss/elements/_actions-page.scss */
.venn_product_selector li .venn-label-selector-a {
  margin-bottom: 5px;
}

/* line 68, ../scss/elements/_actions-page.scss */
.venn-modal-content h2 {
  font-size: 16px;
  margin-top: 2em;
}
/* line 72, ../scss/elements/_actions-page.scss */
.venn-modal-content .export {
  font-size: 10px;
  margin-bottom: 0 !important;
}
/* line 76, ../scss/elements/_actions-page.scss */
.venn-modal-content .total {
  color: #f07e1a;
  font-weight: bold;
}
/* line 80, ../scss/elements/_actions-page.scss */
.venn-modal-content .count {
  background: #EFEFEF;
  padding: 2px;
  color: #666666;
}
/* line 85, ../scss/elements/_actions-page.scss */
.venn-modal-content .td-title {
  color: #f07e1a;
  font-size: 18px;
  font-weight: bold;
}
/* line 90, ../scss/elements/_actions-page.scss */
.venn-modal-content .td-count {
  text-align: right;
  width: 100px;
}
/* line 95, ../scss/elements/_actions-page.scss */
.venn-modal-content.compare .td-count {
  width: 240px;
}
/* line 99, ../scss/elements/_actions-page.scss */
.venn-modal-content .td-export {
  text-align: center !important;
}
/* line 102, ../scss/elements/_actions-page.scss */
.venn-modal-content .td-chimp {
  width: 400px;
}
/* line 106, ../scss/elements/_actions-page.scss */
.venn-modal-content .row-chimp input {
  margin-bottom: 0 !important;
}

/* line 112, ../scss/elements/_actions-page.scss */
.venn-compare-left {
  margin-bottom: 10px;
  border-right: 1px dashed #CCCCCC;
}

/* line 122, ../scss/elements/_actions-page.scss */
.bloc-targets-engage, .bloc-targets-venndiagram {
  background: #fff;
  padding: 35px;
  margin-bottom: 25px;
}
/* line 127, ../scss/elements/_actions-page.scss */
.bloc-targets-engage h3, .bloc-targets-engage .datepicker-target, .bloc-targets-venndiagram h3, .bloc-targets-venndiagram .datepicker-target {
  display: inline-block;
}
/* line 131, ../scss/elements/_actions-page.scss */
.bloc-targets-engage h3, .bloc-targets-venndiagram h3 {
  font-size: 1em;
  text-transform: none;
}
/* line 134, ../scss/elements/_actions-page.scss */
.bloc-targets-engage h3 i, .bloc-targets-venndiagram h3 i {
  font-size: 0.8em;
  padding-left: 15px;
}
/* line 140, ../scss/elements/_actions-page.scss */
.bloc-targets-engage .datepicker-target, .bloc-targets-venndiagram .datepicker-target {
  float: right;
  width: 56%;
}
/* line 145, ../scss/elements/_actions-page.scss */
.bloc-targets-engage .bloc-export-panel, .bloc-targets-venndiagram .bloc-export-panel {
  border-top: 1px solid #EFEFEF;
  padding-top: 25px;
}

/* line 151, ../scss/elements/_actions-page.scss */
.bloc-targets-venndiagram {
  padding: 25px;
}
/* line 154, ../scss/elements/_actions-page.scss */
.bloc-targets-venndiagram .tabs dd.active a, .bloc-targets-venndiagram .tabs .tab-title.active a, .bloc-targets-venndiagram .tabs .tab-title a {
  font-family: "museo-sans-rounded", sans-serif;
  font-size: 1.1em;
  color: #505050;
  text-decoration: none;
  padding: 7px 35px;
  margin-right: 1px;
  font-weight: bold;
  border: 1px solid #EFEFEF;
}
/* line 165, ../scss/elements/_actions-page.scss */
.bloc-targets-venndiagram .tabs-content {
  margin: 0px;
  padding-top: 7px;
}
/* line 170, ../scss/elements/_actions-page.scss */
.bloc-targets-venndiagram .tabs-content .bloc-diagram button {
  margin-bottom: 0px;
  background: none;
  color: #505050;
  width: 100%;
  text-align: right;
}
/* line 177, ../scss/elements/_actions-page.scss */
.bloc-targets-venndiagram .tabs-content .bloc-diagram button i {
  color: #505050;
  padding-right: 8px;
}
/* line 182, ../scss/elements/_actions-page.scss */
.bloc-targets-venndiagram .tabs-content .bloc-diagram button:hover {
  border-bottom: 1px solid #EFEFEF;
}
/* line 189, ../scss/elements/_actions-page.scss */
.bloc-targets-venndiagram .tabs-content > .content.active {
  padding: 0px;
}
/* line 193, ../scss/elements/_actions-page.scss */
.bloc-targets-venndiagram h3 {
  text-align: center;
  display: block;
  width: 100%;
  margin: 0px;
  margin-bottom: 15px;
}
/* line 201, ../scss/elements/_actions-page.scss */
.bloc-targets-venndiagram .pie-chart span {
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  height: 150px;
  width: 150px;
  background: #EFEFEF;
  display: block;
  margin-bottom: 0px;
  margin-left: 34%;
  text-align: center;
  font-size: 0.6em;
}

/* line 1, ../scss/elements/_section-overview.scss */
.section-overview {
  padding-top: 25px;
}
/* line 5, ../scss/elements/_section-overview.scss */
.section-overview h3, .section-overview .datepicker-btn {
  display: inline-block;
  margin-bottom: 12px;
}
/* line 10, ../scss/elements/_section-overview.scss */
.section-overview h3 {
  font-size: 1.2em;
}
/* line 14, ../scss/elements/_section-overview.scss */
.section-overview .datepicker-btn {
  float: right;
}
/* line 18, ../scss/elements/_section-overview.scss */
.section-overview .chart-full {
  margin-bottom: 15px;
}
/* line 22, ../scss/elements/_section-overview.scss */
.section-overview .top-chart-area__wrapper {
  margin: 0px;
}
/* line 27, ../scss/elements/_section-overview.scss */
.section-overview .overview-datas li {
  list-style-type: none;
  width: 48%;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 8px;
  padding: 7px;
  background: #fff;
  vertical-align: top;
}
/* line 38, ../scss/elements/_section-overview.scss */
.section-overview .overview-datas li h4 {
  font-size: 1em;
  text-transform: none;
  margin: 0px;
}
/* line 42, ../scss/elements/_section-overview.scss */
.section-overview .overview-datas li h4 span {
  font-size: 1em;
  float: right;
  font-weight: bold;
  color: #749E96;
}
/* line 47, ../scss/elements/_section-overview.scss */
.section-overview .overview-datas li h4 span span.percentage {
  text-align: right;
  font-size: 0.8em;
  margin: 0px;
  color: #505050;
  padding-left: 14px;
  font-weight: normal;
}
/* line 57, ../scss/elements/_section-overview.scss */
.section-overview .overview-datas li h4 i {
  padding-right: 12px;
}
/* line 62, ../scss/elements/_section-overview.scss */
.section-overview .overview-datas li .bar-container {
  width: 100%;
  height: 5px;
  background: #EFEFEF;
}
/* line 66, ../scss/elements/_section-overview.scss */
.section-overview .overview-datas li .bar-container span.bar {
  height: 5px;
  width: 40%;
  margin: 6px 0;
  display: block;
}
/* line 72, ../scss/elements/_section-overview.scss */
.section-overview .overview-datas li .bar-container span.bar.facebook {
  background: #3398dc;
}
/* line 76, ../scss/elements/_section-overview.scss */
.section-overview .overview-datas li .bar-container span.bar.analytics {
  background: #f07e1a;
}
/* line 83, ../scss/elements/_section-overview.scss */
.section-overview .overview-datas li.opened ul.opened-overview-data {
  margin: 0px;
  margin-top: 10px;
}
/* line 86, ../scss/elements/_section-overview.scss */
.section-overview .overview-datas li.opened ul.opened-overview-data li {
  width: 70%;
  margin: 0px;
  padding: 5px;
}
/* line 91, ../scss/elements/_section-overview.scss */
.section-overview .overview-datas li.opened ul.opened-overview-data li .bar-container {
  width: 100%;
  height: 3px;
  background: #EFEFEF;
}
/* line 95, ../scss/elements/_section-overview.scss */
.section-overview .overview-datas li.opened ul.opened-overview-data li .bar-container span.bar {
  height: 3px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 101, ../scss/elements/_section-overview.scss */
.section-overview .overview-datas li.opened ul.opened-overview-data li h4 {
  font-weight: normal;
}
