.accordion{
	font-family: $museo;

	dd.accordion-navigation{
		margin-bottom: 10px !important;
		//@include border-radius(5px);
        .fa-plus-circle:before {
            content: "\f055";
        }
        &.active {
            .fa-plus-circle:before {
                content: "\f056";
            }
        }
	}

	dd.accordion-navigation {
        position: relative;
		background: none;
		text-transform: uppercase;
		text-decoration: none;

        a{
            color:$dark-gray;
            font-size:0.9em;
            letter-spacing: 1px;
            font-family: $museo;
            text-decoration: none;
        }
		
		i.fa-arrows-v{
			float:left;
			color:$turquoise;
			font-size:1.6em;
			padding-right: 20px;
		}
		i.fa-plus-circle{
			float:right;
			position:relative;
			top:5px;
		}

		&:hover{
			background: darken($light-gray,5%);
		}
	}
}

.main-accordion-item .content {
    position: relative;
}

.main-accordion-loading {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5px;
    &:before {
        content: 'LOADING';
        position: absolute;
        right: 50px;
        bottom: 10px;
        font-size: .6em;
        right: 44px;
        bottom: 13px;
        color: $turquoise;
        opacity: .8;
    }
    &:after {
        content: '';
        background: $turquoise;
        opacity: .1;
        width: 100%;
        height: 100%;
        display: block;
        transform: scaleX(.1);
        transform-origin: right;
        -webkit-animation:progress_load 2s linear infinite;
        -moz-animation:progress_load 2s linear infinite;
        animation:progress_load 2s linear infinite;
    }
}

@-moz-keyframes progress_load { 
    50% { -moz-transform: scaleX(1); transform: scaleX(1);  }
    100% { -moz-transform: scaleX(.1); transform: scaleX(.1);  }
}
@-webkit-keyframes progress_load { 
    50% { -webkit-transform: scaleX(1); transform: scaleX(1);  }
    100% { -webkit-transform: scaleX(.1); transform: scaleX(.1);  }
}
@keyframes progress_load { 
    50% { transform: scaleX(1);  }
    100% { transform: scaleX(.1);  }
}

.main-accordion-content-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    
    &:before {
        opacity: .5;
        content: 'a';
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -32px;
        margin-left: -32px;
        font-size: 4em;
        color: $dark-gray;

        font-family: "adjust-font" !important;
        font-style: normal !important;
        font-weight: normal !important;
        font-variant: normal !important;
        text-transform: none !important;
        speak: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        -webkit-animation-duration: 1s; 
        animation-duration: 1s; 
        -webkit-animation-fill-mode: both; 
        animation-fill-mode: both; 
        animation-iteration-count:infinite; 
        -webkit-animation-iteration-count:infinite; 
        -webkit-animation-name: wobble; 
        animation-name: wobble; 
    }
    
}

@-webkit-keyframes wobble { 
  0% { -webkit-transform: translateX(0%); } 
  15% { -webkit-transform: translateX(-25%) rotate(-5deg); } 
  30% { -webkit-transform: translateX(20%) rotate(3deg); } 
  45% { -webkit-transform: translateX(-15%) rotate(-3deg); } 
  60% { -webkit-transform: translateX(10%) rotate(2deg); } 
  75% { -webkit-transform: translateX(-5%) rotate(-1deg); } 
  100% { -webkit-transform: translateX(0%); } 
} 
@keyframes wobble { 
  0% { transform: translateX(0%); } 
  15% { transform: translateX(-25%) rotate(-5deg); } 
  30% { transform: translateX(20%) rotate(3deg); } 
  45% { transform: translateX(-15%) rotate(-3deg); } 
  60% { transform: translateX(10%) rotate(2deg); } 
  75% { transform: translateX(-5%) rotate(-1deg); } 
  100% { transform: translateX(0%); } 
} 




.accordion .accordion-navigation > .content.active, .accordion dd > .content.active{
	background: #F3F3F3 !important;
}

.accordion .accordion-navigation > a, .accordion dd > a{
	padding: 10px 15px;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a{
	background: #fff;
}
.accordion .accordion-navigation > a, .accordion dd > a{
    background: #fff;
    border-bottom:1px solid $light-gray;
}

.accordion .accordion-navigation > .content.active, .accordion dd > .content.active{
	background: lighten($light-gray,5%);
}