/*
IMPORTED FROM GEMSTONE Amethyst
MUST BE REFACTORED
*/
.no-inner .asterisk, .has-tip .asterisk {
    display:none;
}
#actions-table, #buyers-table {
    width:2000px;
}
#actions-table td, #buyers-table td {
    font-size:.8em;
}
#actions-table_wrapper, #buyers-table_wrapper {
    overflow: auto;
}
#actions-table_wrapper .dataTables_filter, #buyers-table_wrapper .dataTables_filter {
    //display:none;
}
#actions-table .rating-star {
    color:#CCCCCC !important;
}
#actions-page-acc .date {
    color:$orange;
    font-style: italic;
    font-size:.8em;
    padding-top:5px;
}
.leads-type {
    color:#AAAAAA;
    font-size: .8em;
}
/** 
 * Modal venn diagram
 */
.venntooltip {
    position: absolute;
    text-align: center;
    width: 128px;
    height: 28px;
    background: #333;
    color: #ddd;
    padding: 2px;
    border: 0px;
    border-radius: 8px;
    opacity: 0;
    line-height: 24px;
}
#venn_product_selector {
    max-height:600px;
    overflow: auto;
    margin-bottom:5px;
}
.venn_product_selector {
    margin-left: 0 !important;
    margin-bottom: 0;
    li {
        list-style: none;
        display: inline-block;
        padding:3px;
        margin-right: 15px;
        .venn-label-selector-a {
            margin-bottom: 5px;
        }
    }
}
.venn-modal-content {
    h2 {
        font-size:16px;
        margin-top:2em;
    }
    .export {
        font-size:10px;
        margin-bottom: 0 !important;
    }
    .total {
        color:$orange;
        font-weight: bold;
    }
    .count {
        background:#EFEFEF;
        padding:2px;
        color:#666666;
    }
    .td-title {
        color: #f07e1a;
        font-size:18px;
        font-weight: bold;
    }
    .td-count {
        text-align: right;
        width: 100px;
    }
    &.compare {
        .td-count {
            width: 240px;
        }
    }
    .td-export {
        text-align: center !important;
    }
    .td-chimp {
        width:400px;
    }
    .row-chimp {
        input {
            margin-bottom:0 !important;
        }
    }
}

.venn-compare-left {
    margin-bottom: 10px;
    //@media #{$medium-up} {
        border-right: 1px dashed #CCCCCC;
    //}
}


///////////// Engage targets ////////////

.bloc-targets-engage, .bloc-targets-venndiagram{
    background:#fff;
    padding: 35px;
    margin-bottom: 25px;

    h3, .datepicker-target{
        display: inline-block;
    }

    h3{
        font-size:1em;
        text-transform: none;
        i{
            font-size:0.8em;
            padding-left: 15px;
        }
    }

    .datepicker-target{
        float: right;
        width:56%;
    }

    .bloc-export-panel{
        border-top : 1px solid $light-gray;
        padding-top:25px;
    }
}

.bloc-targets-venndiagram{
    padding:25px;

    .tabs dd.active a, .tabs .tab-title.active a, .tabs .tab-title a{
        font-family: $museo;
        font-size: 1.1em;
        color:$dark-gray;
        text-decoration: none;
        padding: 7px 35px;
        margin-right:1px;
        font-weight: bold;
        border:1px solid $light-gray;
    }

    .tabs-content{
        margin:0px;
        padding-top: 7px;

        .bloc-diagram{
            button{
                //margin-top:25px;
                margin-bottom: 0px;
                background: none; 
                color:$dark-gray;
                width:100%;
                text-align: right;
                i{
                    color:$dark-gray;
                    padding-right:8px;
                }

                &:hover{
                    border-bottom:1px solid $light-gray;
                }
            } 
        }
    }

    .tabs-content > .content.active{
        padding:0px;
    }

    h3{
        text-align: center;
        display: block;
        width:100%;
        margin:0px;
        margin-bottom:15px;
    }

    .pie-chart span{
        @include border-radius(200px);
        height:150px; width: 150px;
        background: $light-gray;
        display: block;
        margin-bottom:0px;
        margin-left: 34%;
        text-align: center;
        font-size:0.6em;
    }
}
