.column + .column:last-child, .columns + .column:last-child, .column + .columns:last-child, .columns + .columns:last-child{
	float:left;
}

.bloc{
    position: relative;
	background: #fff;
	padding:20px;
	margin-bottom:25px;
    padding-bottom: 7px;
    &.clickable-bloc {
        cursor: pointer;
    }
    &.highlight {
        opacity: 1;
        background: lighten(#72C5B4, 30%);
    }
    &.inactive {
        opacity: .5;
    }
    &:after {
        content: " ";
        position: absolute;
        height: 7px;
        bottom: 0;
        left: -1px;
        right: -1px;
        background: $turquoise;
    }
}

/////// BLOCS FACEBOOK ////////

.facebook-post, .facebook-ads, .bloc-campaigns{
	img,.post-resume{
		display:inline-block;
		vertical-align: top;
	}

	img{
		max-width: 75px;
	}

	.post-resume{
		width:70%;
		margin-left:15px;
	}

	p.date{
		font-style: italic;
		margin-bottom:0px;
		border-bottom:1px solid $med-gray;

		.fa-bullhorn span{
			font-size: 0.7em;
			text-transform: uppercase;
			color:$lightblue;
		}
	}

	p.resume{
		line-height: 16px;
		font-size:0.8em;
		padding-top:5px;
        min-height: 70px;
	}

	ul.fb-rating{
		margin:0px;
		margin-top:5px;
		margin-bottom:25px;
		li{
			display:inline-block;
			list-style-type: none;
			padding: 0 5px; 
			border-right: 1px solid $med-gray;
			color:$orange;
			font-size:0.8em;

			&:first-child{
				padding-left:0px;
			}

			&:last-child{
				border-right: 0px solid $med-gray;
			}

			i{
				padding-right:4px;
				color:$dark-gray;
			}
		}
	}
}

.facebook-post, .bloc-campaigns{
	&:after { background: $blue; }
}

.facebook-ads{
    &:after { background: $lightblue; }
}

/////// BLOC CAMPAIGNS ////////

.bloc-campaigns{
    padding-bottom: 15px;
	p.weather{
		margin-top:15px;
		i{
			padding-right:10px;
		}
	}
}


/////// BLOC OVERVIEW ////////

.bloc-overview{
    padding-top: 0px;
    padding-left: 0px;
	padding-right: 0px;
	p.overview-title{
		background: $dark-gray;
		padding: 5px 20px;
		color:#fff;
		margin-bottom: 0px;
		//@include border-top-radius(5px);
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;

		i.fa-folder-open{
			float: right;
			position: relative;
			top:3px;
			&:hover{
				color:$turquoise;
			}

			span{
				padding-left:4px;
				font-size:0.9em;
				letter-spacing: 0px;
				color:darken($light-gray,10%);
			}
		}

		// &:after{
		// 	content: " ";
		//   	position: absolute;
		//   	top: 25px;
		//   	right: 20%;
		//   	width: 0;
		// 	height: 0;
		// 	border-style: solid;
		// 	border-width: 22px 25px 0 25px;
		//   	border-color: $dark-gray transparent transparent transparent;
		// }
	}

	a.overview-content{
		background: #fff;
		&:hover {
			background: $light-gray;
		}
		text-decoration: none;
		display: block;
		padding: 15px 15px 0 15px;
	}

    &.active a.overview-content {
        background: lighten(#72C5B4, 30%);
    }

	div.rating{
		border-bottom:1px solid $light-gray;
		p{
			font-size: 1.2em;
		    margin: 0px;
		    padding: 2px 0;
		    height: 38px;
			i{
				padding-right:10px;
				color:$orange;
			}
			span.visits{
				font-size:1.5em;
				float: right;
				position: relative;
				bottom:5px;
			}
		}
	}

	ul.rating-right{
		margin:0px;
		padding:9px 0;
		p{
			margin-bottom:3px;
			span{
				font-size:0.9em;
				font-style: italic;
			}
		}
		li{
			display:inline-block;
			list-style-type: none;
			padding: 0 15px; 
			border-right: 1px solid $med-gray;
			color:$orange;
			font-size:1em;

			&:first-child{
				padding-left:0px !important;
			}

			&:last-child{
				border-right:0px solid;
			}

			i{
				padding-right:8px;
				color:$dark-gray;
			}

			i.fa-arrow-up{
				color:$green;
			}

			i.fa-arrow-down{
				color:$red;
			}
		}
	}

	&:hover{
		background: rgba(#fff, 0.8);
	}

}

.bloc-overview.fb{
    &:after { background: $blue; }
}

.bloc-overview.fb-ads{
    &:after { background: $lightblue; }
}

.bloc-overview.analytics{
    &:after { background: $orange; }

	div.rating-analytics{
		padding: 15px;
		padding-bottom:10px;
		
		ul.visits, ul.analytics-others{
			margin:0px; 
            padding: 0px;
			border-bottom:1px solid $light-gray;
			li{
				list-style-type: none;
				font-size:0.85em;
				height:26px;
				i{
					color:$orange;
					padding-right:5px;
				}
				span{
					font-size:1.1em;
					float: right;
					font-weight: bold;
					i{
						font-weight: normal;
						font-size:0.8em;
						color:$dark-gray;
						font-style: normal;
					}
				}
				i.tooltip-info-btn{
					padding-left:6px;
				}
			}
		}

		ul.visits{
			padding-bottom:12px;
		}

		ul.analytics-others{
			padding:10px 0 0 0;
			border-bottom:0px solid $light-gray;
			li{
				display: inline-block;
				border-right:1px solid $light-gray;
				width: 49%;
				padding:0 12px;

				span{
					//color:$orange;
					font-weight: bold;
					padding:0;
					font-size:0.9em;
					float: right;
					vertical-align: bottom;
					position: relative;
					top:3px;
					padding-right:15px;
				}

				i.tooltip-info-btn{
					padding-left:10px;
				}

				&:first-child{
					padding:0 10px 0 0px;
				}
				&:last-child{
					border-right: 0px solid;
				}
			}
		}
		
	}
}

.bloc-overview.mailchimp{
    &:after { background: $green; };
}


/////// REPORTING BLOC ////////

.reporting-bloc, .action-bloc {
	
	padding:0px;
	height: 200px;

	// .info-reporting, .global-reporting{
	// 	display: inline-block;
	// 	width: 49%;
	// }

	.info-reporting{
		background: $dark-gray;
		padding: 10px 20px;
		color:#fff;
		//@include border-top-radius(5px);

		p{
			margin:0px;
		}

		p.title-reporting{
			font-size:0.8em;
			color:#fff;
			font-weight: bold;
            text-overflow: ellipsis;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
			i{
				padding-right:6px;
				font-size:0.8em;
			}
		}

		p.date{
			color:$light-gray;

			i{
				color:$turquoise; 
				padding: 0 8px;
			}
		}
	}

    .over-budget {
        color:red;
    }

	.global-reporting{
		margin-bottom: 0px;
		padding:20px;
		padding-top:15px;
		li{
			list-style-type: none;
			span{
				float: right;
				margin-bottom:0px;
			}
		}
	}

    &.expandable {
        height: auto;
    }

    &:hover{
    	background: darken($light-gray, 4%);
    }
}

.action-bloc {
    height: auto;
    .action-chart {
        height: 200px; 
    }
}







