/////// BUTTON STYLES //////

button, .button{
	font-family: $museo;
	font-size:0.9em;

	background: $turquoise;
	padding: 10px 20px;
	text-align: center;
	//@include border-radius(5px);

	&:hover{
		background: $dark-gray;
		cursor:pointer;
	}

	&.active{
		background: $dark-gray;
		&:hover{
			background: $med-gray;
			cursor: auto;
		}
	}

	&.error{
		background: $red;
	}

	&.disabled{
		background: lighten($turquoise, 10%);
	}

	&.more{
		border-top:1px solid rgba($dark-gray,0.4);
		background: none;
		color:$dark-gray;
		text-align: center;
		width: 100%;
		@include border-radius(0px);
		padding:7px;
		&:after{
			content: "+";
			margin-left:5px;
			color:$turquoise;
		}
		&:hover{
			background: none;
			cursor: pointer;
			color: $turquoise;
		}
	}
}

.datepicker-btn{
	font-size:0.8em;
	background:$light-gray;
	margin:0px;

	min-width: inherit;
	display:inline-block;

	color:$turquoise;

	i.fa-calendar{
		padding-right:7px;
		color:$dark-gray;
	}

	i.fa-arrow-right{
		padding: 0 15px;
		color:#fff;
	}

	&:hover{
		i.fa-calendar{
			color:$turquoise;
		}
	}
}

