.top-chart-area__wrapper {
    position: relative;
    background: #F3F3F3 !important;
    padding: 0;
    margin-bottom: 10px;
    border-bottom:1px solid #fff;

    .top-chart-tabs {
        list-style: none;
        background: $light-gray;
        font-family: $museo;
        li {
            display: inline-block;
            border-bottom: 2px solid #e1e1e1;
            a { 
                display: inline-block;
                font-size: 15px;
                color:$dark-gray;
                text-decoration: none;
                padding: 6px 12px;
                span { display: none; }
            }
            &.active i { margin-right: 10px;}
            &.active span { display: inline-block;}
            &.analytics i { color: $orange; }
            &.direct-marketing i { color: $green; }
            &.social-networks i { color: $blue; }

            &:hover, &.active {
                
                > a { color: $dark-gray };
                &.analytics { border-bottom-color: $orange; }
                &.direct-marketing { border-bottom-color: $green; }
                &.social-networks { border-bottom-color: $blue; }
            }
            &:hover {
                background: #e1e1e1;
            }
        }
    }

    a.option-chart{
        float:right;
        font-weight: bold;
        text-decoration: none;
        position: absolute;
        top:18px;
        right:20px;
        i {
            color:$dark-gray;
            font-size:0.9em;
            position:relative;
            top:0px;
            padding-right:3px;
        }
    }

}

ul.chart-options{
    li{
        list-style-type: none;
        display: inline-block;
        margin:0px 10px;

        i{
            padding-right:8px;
            &.orange{
                color:$orange;
            }
            &.blue{
                color:$blue;
            }
        }
    }
}

.c3 {
    .tick {
        fill: $dark-gray;
        font-family: $museo;
    }
    .c3-axis-x path, .c3-axis-x line {
        stroke: $dark-gray;
    }
    .c3-axis-y path, .c3-axis-y line {
        stroke: $dark-gray;
    }
    .c3-bar {
        opacity: .7 !important;
        background-image: url(http://www.transparenttextures.com/patterns/cross-stripes.png);
    }
    .c3-grid line {
        stroke: $med-gray;
    }
    .c3-legend-item {
        font-family: $museo;
    }
}