/////// BLOCS DATEPICKER ////////

.bloc-datepicker{
    background: #fff;
    right: 15px;
    position: absolute;
    z-index: 9;
    border: 1px solid $dark-gray;
    top: 45px;
    //width:430px;
    
    p.selected-period{
        font-size:0.9em;
        background: $dark-gray;
        padding:10px 20px;
        color:#fff;
        text-align: center;
        margin:0px;

        i.fa-calendar{
            padding-right:7px;
            color:$turquoise;
        }

        i.fa-arrow-right{
            padding: 0 15px;
            color:lighten($dark-gray, 20%);
        }

    }

    .period-select{
        padding: 20px;

        p{
            margin:0px;
            display: inline-block;
            padding-right:10px;
            vertical-align: top;
            width: 90px;
        }

        hr{
            margin:18px 0 12px 0;
        }

        button{
            padding: 6px 20px;
            margin:0px;
            margin-right:5px;
            font-size:0.8em;
        }
        
        table.date-select{
            border: solid 0px #dddddd;
            margin:0px;
            display: inline-block;
            vertical-align: top;

            thead tr th{
                background: #fff; 
                color:$turquoise !important;
                text-transform: uppercase;
                padding:0px;
                text-align: center;

                font-size:1em;
                i{
                    color:$dark-gray;
                    padding-right:8px;
                    font-size:1.5em;
                }

                i.fa-calendar{
                    font-size:1em;
                }

                p{
                    padding: 0 29px 0 36px;
                }
            }

            tbody tr td {
                font-family: $museo;
                font-size:0.8em;
                text-align: center;
                color:$dark-gray;
            }

            button{
                font-family: $museo;
                font-size:0.9em;

                background: $turquoise;
                padding: 8px 20px;
                text-align: center;
                //@include border-radius(5px);

                &:hover{
                    background: $dark-gray;
                    cursor:pointer;
                }
            }

            .datepicker td, .datepicker th{
                background: none !important;
            }
        }
    }
    .confirm button{
        width: 100%;
        text-align: center;
        padding: 12px;
        margin-right: 5px;
        margin-top: 0px;
        text-transform: uppercase;
        background: $orange;
        i{
            padding-right:12px;
        }

        &:hover{
            background: rgba($orange, 0.8);
        }
    }
}
