/////// EXPORT PANEL ////////

.bloc-export-panel{
    h2{
        font-size:1.2em;
    }

    button.add-more{
        @include border-radius(60px);
        padding: 11px 16px;
        display: block;
    }

    select, a.remove-select{
        display: inline-block;
    }

    a.remove-select{
        margin-left:15px;
        color: $dark-gray;
    }

    select#select-export{
        width:80%;
    }
    
    label{
        display: inline-block;
        margin-right: 20px;
    }

    label span{
        margin-left: 10px;
    }

    input[type="text"]{
        width:36%;
        margin-left: 14px;
        display: inline-block;
    }
}

.bloc-export-button{
    input[type="radio"]{
         margin: 0 4px 1rem 0;
    }

    input[type="text"]{
        width:36%;
        margin-left: 14px;
        display: inline-block;
    }
}

