/////// BLOCS LOGIN ////////

.bloc-login{
    margin-top: 100px;
    text-align: center;
    background: #fff;
    //@include border-radius(5px);
    padding: 30px;
    h1{
        margin: 15px 0 30px 0;
        text-align: center;
        border-top:1px solid $turquoise;
        border-bottom:1px solid $turquoise;
        letter-spacing: 1px;
        padding: 10px 0;
        font-size:1.3em;
    }

    img{
        width: 80px;
        margin: 10px 0 15px 0;
    }

    input[type=email], input[type=password]{
        background: lighten($light-gray,5%);
        border: 0px solid;
        @include border-radius(5px);
    }

    ::-webkit-input-placeholder {
       color: darken($light-gray, 20%);
       font-family: $museo;
       font-size:0.9em;
       letter-spacing: 1px;
       text-align: center;
       text-transform: uppercase;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: darken($light-gray, 20%);
       font-family: $museo;
       font-size:0.9em;
       letter-spacing: 1px;
       text-align: center;
       text-transform: uppercase;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: darken($light-gray, 20%);
       font-family: $museo;
       font-size:0.9em;
       letter-spacing: 1px;
       text-align: center;
       text-transform: uppercase;
    }

    :-ms-input-placeholder {  
       color: darken($light-gray, 20%);
       font-family: $museo;
       font-size:0.9em;
       letter-spacing: 1px;
       text-align: center;
       text-transform: uppercase;
    }

    button{
        font-size:0.9em;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}
