.popup{
	background: $light-gray;
	width:100%;

	padding:50px;
	padding-top:0px;
	position: absolute;

    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    height: auto;
    min-height: 100%;

	a.close-popup{
		font-family: $museo;
		color:$dark-gray;
		font-size:1em; 

		position: absolute;
		right:35px;
		top:25px; 

		text-decoration: none;

		&:hover{
			@include transform (rotate(90deg));
		}
	}

	h3{
		text-align: center;
		background: $turquoise;
		padding: 10px;
		margin-bottom: 25px;
		margin-top:0px;
		//@include border-radius(5px);
		color:#fff;
		font-size:1.2em;
		font-weight: 200;
		text-transform: none;
	}

    .loader-overlay {
        position: absolute; 
        top: 0; 
        left: 0; 
        right: 0; 
        bottom: 0; 
        background: lighten($light-gray,5%);
        text-align: center;
        &:after {
            content: " ";
            position: absolute;
            display: block;
            width: 55px;
            height: 60px;
            top: -100%;
            left: 50%;
            transform-origin: center;
            margin-left: -28px;
            margin-top: -30px;
            transition: top .5s ease-in;
            background-image: url('../images/logo-girafe.png');
            background-size: 100% 100%;
        }
        &.animate {
            &:after {
                top: 50%;
            }
        }
        &.spinit {
            &:after {
                -webkit-animation:spin 2s linear infinite;
                -moz-animation:spin 2s linear infinite;
                animation:spin 2s linear infinite;
            }
        }
    }
}


///////// POPUP LEADS ///////////

.popup-lead{
	.lead-description, .lead-timeline, .tendance{
		background: #fff;
		padding: 25px 35px;
		margin-bottom:25px;

		h2{
			margin-bottom: 25px;
			font-size:1.5em;
		}
	}

	.lead-description{
		margin-top:25px;
		h1, span.total-rating, a#panel1a{
			display: inline-block;
			vertical-align: center;
		}

		h1{
			font-size:1.5em;
			text-transform: none;
			margin-right: 25px;
			i{
				color:$orange;
				padding-right:12px;
			}
		}

		span.total-rating{
			font-size:1.2em;
			i.fa-star{
				color:$yellow; 
				margin: 0 12px 0 3px;
			}
		}

		.accordion-navigation > a, .accordion dd > a{
			background: none;
			padding: 0px; margin:0px;
			font-family: $museo;
			text-decoration: none;
			font-size:1em;
			color:$turquoise;
		}
		.accordion-navigation > .content.active, .accordion dd > .content,
		.accordion-navigation > .content.active, .accordion dd > .content.active{
			background: none !important; 
			padding: 0px; 
			margin:0px;
			padding-top:35px;

			ul.personal-details{
				margin:0px; padding: 0px;
				li {
					padding: 10px 0;
					list-style-type: none;
					margin:0px;
					border-bottom: 1px solid $light-gray;
					p{
						color: $dark-gray;
						font-weight: bold;
						font-size:1em;
					}
					span{
						display: inline;
						float: right;
						position: relative;
						bottom:25px;
					}
				}
			}
		}

		a.more{
			float: right;
			i{
				padding-left:12px;
				color:$dark-gray;
			}
		}
	}

	aside.tendance{
		.pie-chart span{

			@include border-radius(200px);
			height:150px; width: 150px;
			background: $light-gray;
			display: block;
			margin-bottom:25px;
			text-align: center;
			font-size:0.6em;
		}

		.list-tendances{
			margin:0px; padding: 0px;
			li{
				list-style-type: none;
				padding: 10px 0;
				border-bottom: 1px solid $light-gray;
				h3{
					color:$orange; 
					font-weight: bold;
					background:none;
					margin:0px;
					padding: 0px; 
					text-align: left;

					span{
						color:$dark-gray;
						font-weight: normal;
						font-size:0.8em;
						float: right;
					}
				}

			}
		}
	}
}


///////// POPUP OVERVIEW ///////////

.popup-overview{
	.overview-detail, .overview-reach{
		background: #fff;
		padding: 25px 35px;

		min-height:150px;
		margin-bottom:25px;

		p{
			font-size:0.9em;
			height:25px;
			span{
				float: right;
				font-weight: bold;
				color:$turquoise;
				font-size:1.3em;
			}
		}

		p.title{
			font-weight: bold;
		}

		ul{
			li{
				border:1px solid $light-gray;
				display: inline-block;
				width:49%;
				text-align: center;
				padding: 8px 0;
				span{
					display: block;
					font-weight: bold;
					color:$turquoise;
					font-size:1.3em;
				}

				&:first-child{
					border-right:1px solid $light-gray;
				}
			}
		}
	}

	.overview-reach{
		padding-bottom:0px;
	}

	.overview-hashtags{
		background: #fff;
		padding: 25px 35px;;
		margin-bottom:25px;

		input[type=checkbox]{
			float:right;
		}

		ul li{
			list-style-type: none;
		}

		ul.hashtags-list{
			margin:0px;

			li{
				border-bottom:1px solid $light-gray;
				padding:10px 0;
				list-style-type: none;
				vertical-align: center;

				a, span{
					display: inline-block;
					margin:0px;
					padding:0px;
				}

				a.hashtags{
					font-size:1.2em;
				}

				a + span{
					margin-left:25px;
				}
			}
		}

		.export-buttons{
			text-align: right;
			padding-top: 25px;
			button, p, input{
				display: inline-block;
				margin-bottom:0px;
			}

			p{
				padding: 0 12px;
			}

			input[type=text]{
				width:120px;
			}
		}
	}

	.overview-export{
		background:#fff;
		padding: 25px 35px;
		margin-bottom:25px;

		h4{
			border-bottom: 1px solid $light-gray;
			padding-bottom:10px;
			margin-bottom: 15px;
		}
	}

	.overview-posts{
		background:#fff;
		padding: 25px 35px;
		margin-bottom:25px;
		display: block;
		overflow:auto;

		h4{
			border-bottom: 1px solid $light-gray;
			padding-bottom:10px;
			margin-bottom: 15px;
		}

		.bloc-campaigns{
			border-top:1px solid $light-gray;
			border-right:1px solid $light-gray;
			border-left:1px solid $light-gray;
		}


		div.pie-chart-popup-overview{
			width: 35%;
			float: right;
		}

		div.pie-chart-popup-overview, table.popup-overview-traffic-table{
			display: inline-block;
		}
	}
}


table.popup-overview-traffic-table, .popup-table{
	width:65%;

	font-family: $museo;

	tr{
		width:100%;
        &.highlight {
            background:#72C5B4;
            td a{
                color:#fff;
            }
        }
	}
	
	thead{
		background: $turquoise;
		th{
			color:#fff;
			text-transform: uppercase;
			letter-spacing: 1px;
			text-align: center;
			font-size:0.8em;
			&:first-child{
				text-align: left;
			}
		}
	}
	
	thead.summary{
		background: lighten($turquoise, 30%);
		th{
			color:$dark-gray;
			letter-spacing: 0px;
			font-size:0.9em;
			text-align: center;
			height:65px;
			margin-bottom: 20px;
			
			&:first-child{
				font-weight: bold;
				text-align: left;
				font-size:0.8em;
			}
		}
	}

	tbody td{
		font-size: 0.8em;
		text-align: center;
		&:first-child{
			text-align: left;
		}
	}
}


///////// POPUP REPORTING ///////////

.popup-reporting{

	h3{
		margin-bottom:10px;
		background: $turquoise;
	}


	.recap-budget{
		margin-bottom: 25px;
		overflow: auto;

		border-bottom:1px solid $light-gray;	
	}

	.reporting-budget{
		background: #fff;
		padding: 15px 25px;

		margin-bottom:25px;
		span{
			float: right;
		}
        &.over-budget {
            color: red;
        }
	}

	.report-description{
		background:#fff;
		padding: 25px; 

		.pdf-file{
			border-top:1px solid $light-gray;
			text-decoration: none;
			font-size:0.85em;
			display: block;
			padding-top:14px;
			margin-top:20px;

		}
	}

	.reporting-bloc-popup{
	
		padding:0px;
		height: 200px;
		padding: 20px 25px;

		.info-reporting{
			border-bottom: 1px solid $light-gray;
			background:none;
			
			p.title-reporting{
				font-weight: bold;
				font-size:0.9em;
				margin:0px;
			}
			p.date{
				color:$med-gray;
				i{
					color:$orange;
					padding: 0 8px;
				}
			}
		}

	    .over-budget {
	        color:red;
	    }

		.global-reporting{
			padding-top:15px;
			li{
				list-style-type: none;
				span{
					float: right;
					margin-bottom:0px;
					color:$turquoise;
					font-weight: bold;
				}
			}
		}

        .display-table {
            text-align: center;
            position: absolute;
            bottom: 5px;
            width: 100%;
            left: 0;
            right: 0;
            color: white;
            i {
                background: $turquoise;
                border-radius: 20px 20px 0 0;
                padding: 3px 5px;
                font-size: .8em;
            }

        }


	    &.expandable {
	        height: auto;
	    }

	    i.fa-table{
	    	position: absolute;
		    top: 85%;
		    right: 25px;
		    color: #B5B4B3;
		    font-size: 0.8em;
	    }

	    &:hover{
	    	background: darken($light-gray, 5%);
	    }
	}

	.more-reporting-bloc-popup{
		background: #fff;
		padding: 25px 35px;
		margin-bottom:25px;
		position: relative;
		&:before{
			content:" ";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 18.5px 20px 18.5px;
			border-color: transparent transparent #ffffff transparent;

			    position: absolute;
			    top: -17px;
			    left: 48%;
		}

		h5{
			margin-bottom:20px;
			border-bottom: 1px solid $light-gray;
		}

		table{
			min-width:100%;
			border: 1px solid $light-gray;

			thead tr th:first-child.large,
			tbody tr td:first-child.large{
				width:40%;
			}
		}
	}


}
