.section-overview{

	padding-top:25px;

	h3, .datepicker-btn{
		display: inline-block;
		margin-bottom:12px;
	}

	h3{
		font-size:1.2em;
	}

	.datepicker-btn{
		float:right;
	}

	.chart-full{
		margin-bottom:15px;
	}

	.top-chart-area__wrapper{
		margin:0px;
	}

	.overview-datas{
		li{
			list-style-type: none;
			width:48%;
			display: inline-block;
			margin-bottom:10px;
			margin-right: 8px;
			padding:7px;
			//background: lighten($light-gray, 2%);
			background: #fff;

			vertical-align: top;
			h4{
				font-size:1em;
				text-transform: none;
				margin:0px;
				span{
					font-size:1em;
					float: right;
					font-weight: bold;
					color:$turquoise;
					span.percentage{
						text-align: right;
						font-size:0.8em;
						margin:0px;
						color:$dark-gray;
						padding-left:14px;
						font-weight: normal;
					}
				}

				i{
					padding-right:12px;
				}
			}
			
			.bar-container{
				width:100%;
				height:5px;
				background:$light-gray;
				span.bar{
					height:5px;
					width:40%;
					margin:6px 0;
					display: block;
					
					&.facebook{
						background: $blue;
					}

					&.analytics{
						background: $orange;
					}
				}
			}
			

			&.opened ul.opened-overview-data{
				margin:0px;
				margin-top:10px;
				li {
					width:70%;
					margin:0px;
					padding:5px;

					.bar-container{
						width:100%;
						height:3px;
						background:$light-gray;
						span.bar{
							height:3px;
							@include opacity(0.7);
						}
					}

					h4{
						font-weight: normal;
					}
				}
			}
		}
	}
}