.section-height-limiter {
    position: relative;
    max-height: 550px;
    overflow-y: hidden;
    transition: max-height 1s linear;
    &:after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 80px;
        @include background-image(linear-gradient(top, rgba($background-gray, 0) 0%,$background-gray 60%,$background-gray 100%));
    }
}

.section-height-limit--open {
    max-height: 9999px;
    &:after, .section-height-limiter__more-btn {
        display: none;
    }

}

.section-height-limiter__more-btn {
    position: absolute;
    bottom: 0;
    z-index: 1;
    left:50%;
    transform: translateX(-50%);
    margin: 0;
}