table.data-table{
	padding:0px;

	font-family: $museo;
	font-size:0.9em;
	color:$dark-gray;

	border: 0px solid;

	background: none; 

	border-collapse:collapse;


	thead{
		tr th{
			background: none;
			color:$dark-gray !important;
			font-size:0.9em;
			border-bottom: 1px solid $turquoise;
		}
	}	

	tbody{
		tr td, tr td a{
			font-size:0.9em;
			background:none;
			padding:12px;
			border-bottom:1px solid lighten($dark-gray, 50%);
		}
		tr td a{
			border-bottom:0px solid lighten($dark-gray, 50%);
		}
	}
    &.row-clickable {
        tbody tr:hover {
            background: lighten(#72C5B4, 20%);
            cursor: pointer;
        }
    }
}

table thead tr th, table tfoot tr th, table tfoot tr td, table tbody tr th, table tbody tr td, table tr td{
	line-height:0.9em;
}

table thead tr th{
  	line-height: 1.8em;
}

table tr.even, table tr.alt, table tr:nth-of-type(even) {
  	background: none;
}


table.overview-table{
	width:100%;

	thead th, tbody tr td{
		text-align: center;

		&:nth-child(2){
			text-align: left;
		}

		&:first-child{
			max-width:5px;
			padding:0px;
		}
	}

	tbody tr td{

		&.analytics{
			background:$orange;
		}

		&.facebook{
			background:$blue;
		}
	}

	tbody tr:hover{
		background: lighten($turquoise, 23%);
		cursor:pointer;
	}
}

table.overview-ranking{
	border:0px solid;

	border-collapse:collapse;

	tr td{
		border-bottom:1px solid lighten($dark-gray, 60%);
	}

	thead{
		background: none;
		tr th{
			color:$dark-gray;
			border-collapse:collapse;
			border-bottom:1px solid $turquoise;
		}
	}

	th, td{
		background: none;
		font-family: $museo;
		padding:14px 5px;
	}

	td:nth-child(2), td:nth-child(3), th:nth-child(2), th:nth-child(3){
		text-align: center;
	}

	td:nth-child(2), td:nth-child(3){
		color:$turquoise;
		font-weight: bold;
	}

	tr.even, tr.alt, tr:nth-of-type(even){
		background: none;
		border-top:1px solid $dark-gray;
	}
}

button.more-ranking{
	background: none;
	color:$turquoise;	
	padding: 0px;
	&:hover{
		background: none;
		color: $dark-gray;
	}	
}
