/////// TITLE STYLES //////

h1,h2,h3,h4,h5,h6{
	font-family: $museo; 
	text-transform: uppercase;
	font-weight:bold;
	color:$dark-gray;
	span.highlight{
		color:$orange;
	}
}

h1{
	font-size:1.8em;
}
h2{
	font-size:1.6em;
}
h3{
	font-size:1.4em;
}
h4{
	font-size:1.2em;
}
h5{
	font-size:1.0em;
}
h6{
	font-size:0.8em;
}

/////// PARAGRAPHS STYLES //////

p, label{
	font-family: $museo;
	font-size: 0.85em;
	color:$dark-gray;
}

p{
	margin-bottom:7px;
	span.highlight{
		color:$orange;
		margin-bottom:7px;
	}
}

/////// LINKS STYLES //////

a{
	font-family: $museo;
	font-size: 0.85em;
	color:$turquoise;
	text-decoration: underline;
	&:hover{
		color:$dark-gray;
		cursor:pointer;
	}
}

/////// LIST STYLES //////

ul{
	margin-left:0px;
}

li{
	font-family: $museo;
	font-size: 0.85em;
	color:$dark-gray;

	span.highlight{
		color:$orange;
		margin-bottom:7px;
	}
}

/////// LOADER //////

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


