/////// TOOLTIPS ////////

.tooltip-bloc{
    position: absolute;
    background: #CDCDCD;
    //@include border-bottom-radius(5px);

    width:250px;

    .date, .title{
        background: $dark-gray;
        padding: 5px 20px;
        color:#fff;
        margin-bottom: 0px;
    }

    .resume{
        padding: 10px 20px;
        li{
            list-style-type: none;
            span{
                float:right;
                text-align: right;
                margin-bottom:0px;
                font-weight: bold;
            }
        }
    }

    p.resume{
        line-height: 18px;
        margin:0px;
    }
}

.tooltip-chart {     
    position: static;
}                     



.tooltip-info, .tooltip-chart{
    border: 1px solid darken(#D6D6D6, 3%);
    padding: 5px 10px;
    max-width:220px;
    background: #D6D6D6;
      font-size: .9em;

    p.title, p.resume{
        background:none; 
        padding:0px;
    }

    p.title{
        i{
            padding-right: 3px;
        }
        color:$dark-gray;
        font-weight:bold;
        font-size: .8em;
        margin-bottom: 2px;
    }

    p.resume{
        line-height: 16px;
        font-size:0.75em;
    }
    ul.resume {
      padding: 0px;
      margin-bottom: 0;
      font-size: .9em;
    }
}

.tooltip-info {
    .fa-info-circle {
        float: left;
        font-size: .8em;
        color: lighten($dark-gray, 30%);
        margin-top: 1px;
        margin-left: -3px;
    }
    p.resume {
        margin-left: 12px;

    }
}

i.tooltip-info-btn{
    color: $med-gray !important;
    cursor: help;
}

.tooltip-reach{
    .title{
        margin:0px;
    }
    ul.reach{
        padding: 0px; margin:0px;
        li{
            display: inline-block;
            width:49%;
            padding: 10px 0;
            text-align: center;
            span{
                display: block;
                font-weight: bold;
                font-size:1.5em;
            }

            &:first-child{
                border-right:1px solid #fff;
            }
        }
    }
}